[2019-07-15 14:49] trag-stripe opened #27 "Readme Instructions & Q about installation without Homebrew"
1. I noticed the Readme top instructions say it's still private - I believe it's public now to the token is not longer needed right?
2. Can there be steps to install regardless of Homebrew?

thx

[2019-07-16 16:10] tomer-stripe commented on #27
Closing this since we updated instructions yesterday!

[2019-07-16 16:10] #27 closed

[2019-07-16 22:24] paulca opened #36 "Authenticating and then listening fails with 500"
Hi,

This is great! I literally requested this in a Stripe engineering session and here it is. Thank you! I literally paid for ngrok today, and then this. Magic!!

I installed the cli via homebrew as instructed on macOS (Mojave)

Running `stripe login` works great ... browser opens and I get an authenticated message.

[code]

Not much more I can do from here!

[2019-07-16 22:25] paulca commented on #36
(I tried removing the contents of `~/.config/stripe` and re-authenticating, but still not working.

[2019-07-16 22:33] paulca commented on #36
(I also tried adding a key manually, but same result)

[2019-07-16 22:57] ob-stripe commented on #36
Hey @paulca! I'm fairly sure this is a backend issue. I'm looking into it, will update once I figure out what's going on.

[2019-07-16 23:12] ob-stripe commented on #36
It is indeed a backend issue. We'll push a fix ASAP.

[2019-07-16 23:22] paulca commented on #36
Much obliged!

Paul Campbell
paul@hypertiny.ie
- - - - - - - - - - - - - - - - - - -
web http://hypertiny.ie
blog http://www.pabcas.com
twitter http://www.twitter.com/paulca
github http://www.github.com/paulca
phone +353 87 914 8162
- - - - - - - - - - - - - - - - - - -

On Wed, Jul 17 2019 at 12:12 a.m., < notifications@github.com > wrote:

[2019-07-17 00:04] ob-stripe commented on #36
The issue should be fixed, please try running `stripe listen ...` again.

(Closing the issue, but let me know if it doesn't work!)

[2019-07-17 00:04] #36 closed

[2019-07-17 04:47] fishcharlie opened #37 "stripe -v Support"
I think it'd be awesome to see a shortcut to run `stripe -v` and have the same behavior as `stripe --version`.

[2019-07-17 10:09] andris-sevcenko opened #38 "WebSocket frame length too large"
Just set this up to use instead of https://ngrok.io for webhook testing.

It seems that, at least for me, the webhooks functionality is not entirely reliable.

[code]

Is there a debug mode or something I could enable to provide more information than this? The webhooks in question are triggered using Charge API with card number `4000000000003063` to trigger 3DS 1.0 flow.

[2019-07-17 10:35] andris-sevcenko opened #39 "Stripe doesn't stop listening after quitting"
After quitting stripe CLI using `^C`, it still remains in the process list, listening and polluting output on receiving webhook. (This also explains the duplicate lines in the output of #38)

[code]

[2019-07-17 10:39] andris-sevcenko commented on #39
Just realized that it immediately goes into the background. If I bring it back using `fg` and then hit `^C` it ends, as expected.

Not sure if it's the intended behavior, though? If it is, it is probably worth mentioning in the docs.

[2019-07-17 10:47] andris-sevcenko commented on #39
Also, for posterity, I'm an idiot. I had an ampersand in the target URL, causing the link to be invalid and, of course, for the stripe CLI app to go into the background.

Sorry.

[2019-07-17 10:47] #39 closed

[2019-07-17 11:02] andris-sevcenko commented on #38
FWIW, this issue has disappeared. More likely than not, it'll turn out to be a non-reproducible environmental issue.

[2019-07-17 11:02] #38 closed

[2019-07-17 16:17] tomer-stripe commented on #38
We've been making some changes on our side to keep this from happening, hopefully merging in #34 should help too. Let us know if this re-occurs!

[2019-07-17 16:44] homemadePopcorn commented on #37
stripe.exe was labelled as a suspicious file by my anti-virus software.  I can add an exception to that file on my firewall but just thought I would write the issue down.

[2019-07-17 17:13] tomer-stripe commented on #37
@fishcharlie we'll take a look at adding that!

@homemadePopcorn I'm going to create a separate issue for that to see if there are any changes we should make to handle that better.

[2019-07-17 17:14] tomer-stripe opened #43 "AVG AntiVirus flags the CLI as suspicious"
Reported by @homemadePopcorn in #37:

Is there something we can do to make Windows happier with that behavior? We didn't have issues with this when we were doing Windows testing locally, wonder if there's something specific it's flagging.

[2019-07-17 17:15] ob-stripe commented on #43
@homemadePopcorn Can you tell a little more about your environment? I.e. Windows version, antivirus name and version, or anything else that could help in reproducing the issue.

[2019-07-17 17:18] homemadePopcorn commented on #43
Sure, I'm using AVG Anti-virus software v19.6.3098.  Windows 10 pro v1903.

[2019-07-17 17:24] ob-stripe commented on #38
To clarify, what likely happened is that the response from your local endpoint was too large. Once #34 is merged, responses will be truncated to ensure they stay under the maximum size supported by the server and this issue should disappear.

[2019-07-17 17:26] ob-stripe commented on #39
No worries at all! Thanks for giving the CLI a try :)

[2019-07-17 17:51] ob-stripe commented on #43
Thanks!

I just uploaded `stripe.exe` from the 0.2.2 release to virustotal.com, here are the results: https://www.virustotal.com/gui/file/b9bb89ba261974e9bfe2146f76fffe98d8e3681eb249e59835b132c9b5f6ec81/detection

AVG reports no issues there, but you might have different settings on your computer.

My guess is that AVG is being overly paranoid because this is a new executable it's never seen befor

[2019-07-17 18:09] jwheare opened #47 "get --expand doesn't work properly"
`-d 'expand[]=foo'` works to expand fields in API responses but `--expand foo` (as per documentation) gives the following error:
[code]

Tried with:
[code]

### Environment
macOS 10.14.5, stripe CLI installed via homebrew
[code]

[2019-07-17 18:10] jwheare commented on #47
Nvm, seems fixed in 0.2.3 #33

[2019-07-17 18:10] #47 closed

[2019-07-17 18:19] ob-stripe commented on #47
Yes, should be fixed already! Thanks for the report anyway :)

[2019-07-17 20:41] ob-stripe commented on #43
Oh, I wonder if this is because we try to run `uname -a` to compute the extended user agent. We can probably exclude that entirely on Windows since the chances of `uname` existing on Windows are very slim.

[2019-07-21 11:56] MrMooky opened #50 "No such host"
I am receiving events but also receive errors when trying to reach the local app. Setup is Laravel 5.7 with Homebrew and Valet.

[2019-07-21 20:48] madeleineth opened #51 "listen fails when run non-interactively"
### Issue

I am trying to run `stripe listen` non-interactively in one docker container to proxy events to a different docker container, so that I can validate my webhooks in an automated test.

I run:
[code]
The output is:
[code]
but if I then run:
[code]
it outputs:
[code]

So, the issue is:
1. I don't know what a device is, but according to `stripe listen --help` I should be able to set this wi

[2019-07-22 02:15] ob-stripe commented on #50
@MrMooky This likely isn't an issue with the CLI, it means that the hostname you're using (friendships.test) cannot be resolved by your nameserver at 192.168.2.1. You can confirm this by running e.g. `ping friendships.test`.

You might need to manually add the IP for friendships.test in your `/etc/hosts` file, or configure your DNS server to properly resolve the domain name.

Closing, but feel fre

[2019-07-22 02:15] #50 closed

[2019-07-22 02:19] ob-stripe commented on #51
@madeleineth Thanks for the report! This error message is indeed incorrect, the command to configure the CLI with your account's API key and device name is `stripe login` instead of `stripe configure`.

Note that running `stripe login` will open a web browser to automatically create and retrieve a new API key for your account. You can also run `stripe login --interactive` to manually provide your

[2019-07-22 02:21] madeleineth commented on #51
@ob-stripe Is there a recommended procedure for non-interactive use (i.e. on CI), where neither a web browser nor `--interactive` is appropriate?

[2019-07-22 02:30] ob-stripe commented on #51
@madeleineth You could create the configuration file manually in your container (it's read from `${XDG_CONFIG_HOME}/stripe/config.toml, or `$HOME/.config/stripe/config.toml` if `XDG_CONFIG_HOME` is not set), or you can set the API key and device name via environment variables: `STRIPE_SECRET_KEY` and `STRIPE_DEVICE_NAME` respectively.

Out of curiosity, would you find it helpful if we provided Doc

[2019-07-22 02:46] madeleineth commented on #51
@ob-stripe okay, cool. Thanks.

A Docker image wouldn't help me personally. The application in question uses a KMS instead of environment variables for secret management, so I need code running inside the container to get the API key, and I'd rather not be tied to whatever base image you decided on. An APT repository would be useful, though. I don't like hard-coding package version numbers, and I'

[2019-07-22 04:00] ob-stripe commented on #51
Understood, thanks for the feedback!

No ETA yet, but that's definitely something we want to provide.

[2019-07-24 20:12] MrMooky commented on #50
@ob-stripe Thanks for your feedback. I tried adding the IP to the hosts file, but my Laravel app just went "offline" when doing so. When I ping my local url with `ping friendships.test` I get `64 bytes from 127.0.0.1: icmp_seq=0 ttl=64 time=0.026 ms`.

Where does the Stripe CLI get the other IP from? And how could I manage to make Stripe CLI use the regular localhost IP?

[2019-07-24 22:54] ob-stripe commented on #50
@MrMooky The 192.168.2.1 IP probably comes from your `/etc/resolv.conf` file, which is where DNS servers are declared.

Can you try running the CLI with `export GODEBUG=netdns=1` and share the results here?

[2019-07-25 04:35] MrMooky commented on #50
@ob-stripe How to? ._. Running `stripe export GODEBUG=netdns=1` results in `unknown command "export" for "stripe"`. And just running `export GODEBUG=netdns=1` after loggin in with stripe does nothing.

[2019-07-31 02:30] ob-stripe commented on #51
@madeleineth We have an APT repository now! You can find installation instructions here: https://github.com/stripe/stripe-cli/blob/c6e8852610fac29349754477c41ff60a402017dc/README.md#linux

[2019-07-31 04:43] madeleineth commented on #51
@ob-stripe excellent, works great.

[2019-08-02 17:51] tomer-stripe commented on #37
@fishcharlie just opened a PR for this! Sorry this took so long to get to, the whole time has been really focused on adding a bunch of cool new features :D

[2019-08-02 19:15] #37 closed

[2019-08-05 12:22] cpnielsen opened #75 "Add separate forwards for account and connect hooks"
### Problem
In our staging and production setup, as well as current use with `ngrok`, we have two separate URLs set up - one for account hooks on our platform account and one for connect events for all connected accounts. However, the CLI only supports a single `forward-to`.

### Feature
Add a separate URL / `forward-to-connect` argument to split the two types of events.

[2019-08-05 18:35] tomer-stripe commented on #75
Thanks for opening @cpnielsen! I've got this tracked on our internal tracker as well, I'll keep this thread posted with updates.

[2019-08-07 11:58] renchap opened #80 "Listen stops silently after computer goes to sleep"
### Issue
I am using `stripe listen --forward-to` (amazing feature 🙇) on my mac. It is running in the foreground in one terminal tab.
When I leave my computer for some time (goes to sleep) and I come back, the command is still running but no new webhooks are received and forwarded

### Expected Behavior
I would expect the CLI to either quit when not connected, or (better) reconnect automatically

[2019-08-08 00:23] tomer-stripe commented on #80
Thanks @renchap! We'll look into this.

[2019-08-08 00:24] tomer-stripe commented on #75
@ob-stripe added this to v0.2.6, which we released earlier. The flag is `--forward-connect-to`, @cpnielsen let us know if you have any issues with this!

[2019-08-08 00:24] #75 closed

[2019-08-08 08:36] jwheare opened #84 "stripe get doesn't support --project-name"
The command only works when there's a [default] project. Using `--project-name` to choose a project produces this:

```API key is too short, must be at least 12 characters long```

[2019-08-08 08:39] jwheare opened #85 "--project-name doesn't pass through device_name for listen command"
Using `listen --project-name` without a device_name in the [default] profile (even if a device_name) exists in the named project profile results in this error response:

[code]

[2019-08-08 13:17] cpnielsen commented on #75
Thanks @tomer-stripe, appreciate the quick turnaround on this 🙌

[2019-08-08 17:28] tomer-stripe commented on #84
Thanks! I'll take a look

[2019-08-08 17:29] tomer-stripe commented on #85
Will take a look at this too! Thanks for the report

[2019-08-08 21:16] #84 closed

[2019-08-08 21:16] #85 closed

[2019-08-12 07:15] morgoth opened #88 "listen command with --load-from-webhooks-api does not work"
If I understood docs correctly, when using `listen` command, I can specify `--load-from-webhooks-api` which will take all existing webhooks endpoints from existing Stripe test account (visible in dashboard) and will forward only those events that are used by those webhooks.

I have configured webhook in dashboard (pointing to our staging server).
When I use command: `stripe listen --load-from-webh

[2019-08-12 16:09] tomer-stripe commented on #88
Sorry about that @morgoth! We'll dig into that.

[2019-08-12 16:44] ob-stripe commented on #88
Hi @morgoth, can you confirm that the endpoints exist in test mode on your account?

[2019-08-12 18:20] #88 closed

[2019-08-12 18:41] tomer-stripe commented on #88
Hey @morgoth, this should now be resolved in v0.3.0 -- let us know if you have any issues!

[2019-08-13 05:50] morgoth commented on #88
Yes, looks like it is fine now. At least it starts.
Thank you for such quick fix.

[2019-08-13 09:04] Freezystem commented on #51
@ob-stripe I'd love to be able to run Stripe-CLI in a docker container in my CI. I was about to create one on my own but if I could get an official and better maintained one it would be really helpful :)

[2019-08-13 17:35] brandonfarber opened #93 "Windows command line showing invalid characters"
### Issue
_Describe what happened and what you were trying to do_

I ran the stripe executable from the command line and while the connections seem to establish correctly, invalid characters are output to the console window which is both "ugly", but also tricky (i.e. to copy the webhook signing secret).

![image](https://user-images.githubusercontent.com/10439617/62963377-e090a800-bdce-11e9-957e-4

[2019-08-13 18:15] tomer-stripe commented on #93
@brandonfarber sorry about that.

Could you try to run with `--color off` and see if that helps?

[2019-08-13 18:17] ob-stripe commented on #93
Hi @brandonfarber, thanks for the report. Those weird characters are ANSI color codes, which unfortunately the Windows default console app does not support.

You can add the `--color=off` flag to disable the color codes. We also plan on adding support for setting this option permanently in your config file so you don't have to pass the flag every time.

Microsoft is also working on a new terminal

[2019-08-13 19:00] brandonfarber commented on #93
Thanks for the tip, I'll keep it in mind.

I don't know if you want to investigate ways to address automatically (maybe something along these lines: https://stackoverflow.com/questions/38044810/detect-ansi-compatible-console-from-windows-batch-file) or if the code is abstracted enough it's designed to be pretty much the same across all environments, but I figured I'd point out the issue. Feel free

[2019-08-13 19:10] ob-stripe commented on #93
I think there may be things we can do to improve the experience on Windows here, so let's keep this open for now.

[2019-08-13 22:50] ob-stripe commented on #51
@Freezystem Done! https://hub.docker.com/r/stripe/stripe-cli

[2019-08-14 12:53] jwheare opened #101 "Allow fetching production mode logs"
It would be nice if there was a way to fetch error logs from production, using filters that aren't available via the dashboard https://dashboard.stripe.com/logs

e.g. I'd like to see a list of the latest HTTP 400 `invalid_request_error` logs, with HTTP 402 `card_error` logs filtered out in a format that I can pipe through jq to extract more info.

Ideally these filters would be available in the da

[2019-08-14 13:05] jwheare opened #102 "stripe logs tail --format json is case sensitive"
The code expects:
`stripe logs tail --format json`

But the help text suggests
`stripe logs tail --format JSON`

Only the lowercase version works.

[2019-08-14 13:13] jwheare opened #103 "Allow logs tail to show more detail on error responses"
Showing more attributes on error requests would be great when tailing logs:
https://stripe.com/docs/api/errors#errors-type

The string attributes would be handy:

* type
* code (linking to doc_url)
* message
* param
* decline_code
* charge

But leaving out hash attributes (payment_intent, payment_method, setup_intent, source) probably makes sense.

[2019-08-14 15:00] tomer-stripe commented on #101
Completely agree this would be really helpful for users, we are actively looking into this!

[2019-08-14 16:50] ob-stripe commented on #102
@jwheare Thanks for the report! We'll release a fix soon.

[2019-08-14 17:17] #102 closed

[2019-08-14 23:58] #93 closed

[2019-08-15 00:00] ob-stripe commented on #93
Hey @brandonfarber, we just released v0.4.4. Colors should be displaying normally now (if you're using Windows 10 -- older Windows versions would still be affected).

Feel free to reply here or open a new issue if you notice anything amiss!

[2019-08-15 14:58] robertboloc opened #108 "Allow forwarding to endpoints with a self signed certificate"
### Problem
We use a self signed SSL certificate for our API when developing locally. When trying to forward requests to an endpoint on that API we get an error because the SSL certificate is not valid.

### Feature
It would be useful to have a flag that allows ignoring the certificate check. I suspect a lot of other developers use a similar setup.

### Examples
`ERROR Failed to POST event to loca

[2019-08-15 18:01] ob-stripe commented on #108
👍 Great suggestion! Will try to add it soon.

[2019-08-15 20:18] cayman1066 commented on #108
Thanks for the suggestion, @robertboloc.  I just installed the Stripe CLI and suspected even before I put it into listen mode that I'd have the same problem.  And thanks for taking this up, @ob-stripe

[2019-08-15 21:36] #108 closed

[2019-08-15 21:38] ob-stripe commented on #108
I've just released 0.4.5, which adds a `--skip-verify` flag the `listen` command. When the flag is present, the CLI will no longer attempt to validate certificates when forwarding an event to an HTTPS endpoint.

[2019-08-15 21:41] cayman1066 commented on #108
Sweet!  That was quick.  Thanks, Olivier!  Upgrading now...

[2019-08-15 21:52] cayman1066 commented on #108
Works beautifully.  Thanks for the quick turn around, @ob-stripe !

[2019-08-15 22:03] ob-stripe commented on #108
You're welcome! 🎉

[2019-08-16 08:16] robertboloc commented on #108
Thank you @ob-stripe works as expected.

[2019-08-16 15:58] bodgerbarnett opened #114 "stripe listen issues get request"
When I use stripe listen locally, it works fine.

But when I use it on our test server, the webhooks seem to call GET, rather than POST and my webhook is not set up to serve GET requests:-

    [Fri, 16 Aug 2019 16:49:56 BST]  INFO Received event: evt_1F87geDLZTy5tB2lWSjs3aI0 [type: checkout.session.completed]
    [Fri, 16 Aug 2019 16:49:56 BST]  INFO Got response from local endpoint, status=405

[2019-08-16 16:47] ob-stripe commented on #114
Hi @bodgerbarnett, thanks for the report. That's really surprising though, the CLI is only supposed to send POST requests to local endpoints, not GET. There must be something else going on here, but I'm not sure what that could be.

[2019-08-19 06:57] tomer-stripe commented on #114
@bodgerbarnett that's pretty odd... out of curiosity, what version are you running in both systems? Could you also share the exact commands you're running to invoke the CLI? I want to see if I can reproduce it.

[2019-08-19 12:58] brandonfarber commented on #93
Just tested and it seems ok. I'll let you know if anything comes up, thanks!

[2019-08-19 22:17] auchenberg-stripe opened #122 "Add new command to open dashboard"
### Problem
I'm a developer that's authenticated as a particular user/org in the CLI, and I want to quickly be able to open the Stripe Dashboard without changing user and using the org-switcher

### Feature
Add new `stripe dashboard` command that would open the default browser, navigating to Stripe Dashboard authenticated as that particular user/org.

[2019-08-20 09:15] bodgerbarnett commented on #114
@tomer-stripe Apologies, for some reason, it didn't occur to me at all that I could just the Stripe test site's webhooks to send data to my test site and therefore don't really need the Stripe CLI for this.

If you still want to try and reproduce it, here is the info you need:-

stripe version 0.5.1 (beta)
stripe listen --forward-to <test site url>

This was all running on the test site server its

[2019-08-20 09:42] tomer-stripe commented on #122
I was thinking about doing this but had a few questions:
* should we do this for other things too, like docs, recipes, and API ref? I could see this being useful as people might want to reach for information in those pages quickly
* in light of the above, what would you think of having it be `stripe open ...`? That way we could do `stripe open dashboard` or `stripe open docs` instead of `stripe da

[2019-08-20 20:11] ob-stripe commented on #122
I'm not sure how account switching is implemented on the backend, we may need to do some work there to make it possible to do this from the CLI. I like the idea though!

[2019-08-20 21:21] auchenberg-stripe commented on #122
I think having a generalized `stripe open <n>` command could be a great start, and based on usage/feedback we could add shorthand aliases such as `stripe dashboard` if that becomes a common ask.

We should figure out what's possible today, and use that as the MVP.

I've updated the issue with area candidates.

[2019-08-22 08:13] Freezystem commented on #51
@ob-stripe

Don't seem to work with the docker container:

[code]

and I get this error:

I've then tried to force environment variable injection through parameters:

[code]

But get this error:

Did I miss something ?

[2019-08-22 10:58] romainmenke opened #129 "add support for custom Host headers when sending requests to a local server"
### Problem
When trying to use **stripe-cli** together with a server behind **puma-dev** I get errors as the Go HTTP Client doesn't resolve `.test` domains to `http://127.0.0.1:80`.

### Feature
Have a flag to set a custom `Host` Header on requests.

### Examples

`$ stripe listen --forward-to http://127.0.0.1:80 --forward-to-host foo.test`

### WIP implementation

https://github.com/stripe/stripe

[2019-08-22 10:59] romainmenke opened #130 "add support for custom Host headers when sending requests to a local server"
### Problem
When trying to use **stripe-cli** together with a server behind **puma-dev** I get errors as the Go HTTP Client doesn't resolve `.test` domains to `http://127.0.0.1:80`.

### Feature
Have a flag to set a custom `Host` Header on requests.

### Examples

`$ stripe listen --forward-to http://127.0.0.1:80 --forward-to-host foo.test`

### WIP implementation

https://github.com/stripe/stripe

[2019-08-22 11:00] romainmenke commented on #130
Github having issues and accidentally double posted.

[2019-08-22 11:00] #130 closed

[2019-08-22 17:41] ob-stripe commented on #114
@bodgerbarnett Can you check if any of the following environment variables is set?

- `HTTP_PROXY`
- `http_proxy`
- `HTTPS_PROXY`
- `https_proxy`

[2019-08-23 21:58] ob-stripe commented on #129
I like this idea, but I'm wary of `--forward-to-host` -- we would have to have a similar `--forward-connect-to-host` flag and that could lead to a proliferation of new flags if we want to add support for other headers.

Maybe something like this? `--forward-to-headers "Host: foo.test|Custom-Header: some custom value"`

[2019-08-24 09:14] romainmenke commented on #129
Good point.

Maybe easier to handle arguments like this : `--forward-to-headers "Host: foo.test" --forward-to-headers "Custom-Header: some custom value"`

A custom host does need to be handled differently from regular http headers :
https://github.com/stripe/stripe-cli/compare/master...romainmenke:master#diff-c69550a34f917486e55de4c82d26d9c9R87

[2019-08-28 20:59] auchenberg-stripe opened #134 "Stripe open throws exception"
Stripe open throws exception.

<img width="1265" alt="Screen Shot 2019-08-28 at 1 53 48 PM" src="https://user-images.githubusercontent.com/53238203/63892279-17081e80-c99c-11e9-9779-57fc205e8d0f.png">

## Steps:
1. Install CLI
1. Run `stripe open`

## Actual
[code]

## Expected
No error and list of available open commands.

[2019-08-28 21:57] #134 closed

[2019-08-30 00:38] tomer-stripe commented on #51
For setting `--device-name`, there was a bug there that I fixed in version 0.5.4 if you want to give that a shot! Sorry for the delay there

[2019-09-03 09:25] bodgerbarnett commented on #114
@ob-stripe No, none of those are set.

[2019-09-08 23:19] aldarund opened #151 "Support checkout webhooks"
### Problem
Testing checkout webhook
checkout.session.completed
I cant even find docs what will object checkout.session.completed look like in webhook and cant test with cli and testing on real domains or tunnels is a pain

### Feature
trigger checkout.session.completed

### Examples

[2019-09-09 02:13] JNaeemGitonga commented on #84
Seems like this is still an issue; I am getting the same error after having used the `--project-name` flag. Any help? Thanks!

[2019-09-09 04:17] typeoneerror opened #152 "stripe listen posts to incorrect url"
### Issue

Starting up listen locally works and I can see the webhooks getting sent:

[code]

However, Stripe posts to `/` of my Rails app no matter what.

### Expected Behavior

Receive a POST at /_billing_events on port 3000

### Steps to reproduce

Described in the above

### Traceback

[code]

### Environment

macOS

[2019-09-09 20:58] tomer-stripe commented on #152
Thanks for reporting! We'll take a look

[2019-09-09 23:15] tomer-stripe commented on #151
Hey @aldarund, I'll talk to the team and see what we can do here.

[2019-09-09 23:19] tomer-stripe commented on #152
@typeoneerror would you be comfortable sharing a screenshot of what you have in https://dashboard.stripe.com/test/webhooks? (Or feel free to email it over to me)

It looks to be working correctly on my laptop so I want to see what configuration it's reading.

[2019-09-10 04:56] typeoneerror commented on #152
@tomer-stripe it looks like I had a URL without the "/_billing-events" path on my test webhook endpoints. Working now! I thought it would just use my webhook events config, not try to extrapolate a path from my webhook path.

[2019-09-10 04:56] #152 closed

[2019-09-10 16:53] ob-stripe commented on #152
We should probably forbid paths in the `--forward-to` and `--forward-connect-to` flags when `----load-from-webhooks-api` is used and output a better error message to make this behavior clearer.

[2019-09-10 17:00] typeoneerror commented on #152
That'd be a great change. In any case, this is a SUPER welcome addition to the stripe family. Saved me so much headache already.

[2019-09-10 18:16] tomer-stripe commented on #152
Glad to hear @typeoneerror! We'll look into improving the error messaging around that failure case like @ob-stripe suggested :)

[2019-09-11 00:54] danielpeach opened #156 "stripe listen does not log when it cannot create a websocket connection"
### Issue
I'm not sure why `stripe listen` isn't working - maybe the endpoint is down or I've made a mistake (it was working earlier with no changes on my end).

Regardless, it's super confusing that the CLI says "Ready! Your webhook signing secret..." when in fact the CLI is silently dialing the websocket endpoint and repeatedly failing.

### Expected Behavior
I expected the `stripe listen` to lo

[2019-09-11 10:55] mo opened #157 "Password needed to run Stripe CLI ?"
[code]

Why do I need a password to fetch the Stripe CLI image? What kind of password do I need? Can you add some instructions around this to the readme? Thanks.

[2019-09-11 10:58] mo commented on #157
hmm, seems I had an expired docker hub auth token in ~/.docker/config.json (after changing the password via their web UI when there were hacked in april this year) ... anyway, after running ```docker logout``` it worked again.

[2019-09-11 10:58] #157 closed

[2019-09-11 12:20] mo opened #158 "stripe-cli login doesn't work on docker + linux"
[code]

Is it trying to run xdg-open inside the container? Can it maybe print the URL I'm supposed to open?

[2019-09-11 17:08] ob-stripe commented on #158
Yes, that's exactly what's happening. We should catch errors when trying to open the browser and display the URL instead if an error occurs. Thanks for the report!

[2019-09-11 17:10] ob-stripe commented on #157
Glad you were able to fix it :)

[2019-09-11 17:42] tomer-stripe commented on #156
@danielpeach thanks for this! I started looking into a better way to display the status without completely filling your screen with reconnect attempts (which happen a lot, we didn't want to drown out the webhooks data). I don't have anything solid at the moment but I'm going to keep working on this.

I'm not sure why you can't connect to the websocket though, let me see if I can find the errors on

[2019-09-13 22:31] rotorboy opened #163 "please add customer_id to customer.source.expiring event"
While I understand the appeal of ONLY sending the "leaf element" object id of the event,  as a "best practice" principle, any "element" included the event type path should have its corresponding ID included in the object sent. So in this event case, the event object would ideally include a cus_id AND a src_id included. Currently, only a src_id is being sent.

Our service doesn't hold or track src_

[2019-09-13 23:44] ob-stripe commented on #163
Hi @rotorboy. The object nested in [`customer.source.expiring`](https://stripe.com/docs/api/events/types#event_types-customer.source.expiring) events is a [`card`](https://stripe.com/docs/api/cards) object, and cards should always have a non-null [`customer`](https://stripe.com/docs/api/cards/object#card_object-customer) attribute.

In any case, we can't help you here -- events are formatted by St

[2019-09-13 23:44] #163 closed

[2019-09-14 07:17] 0506569966 opened #164 "NCBKSAJE"
_The more information we have the easier it is for us to help. Feel free to remove any sections that might not apply_

### Issue
_Describe what happened and what you were trying to do_

### Expected Behavior
_Tell us what you expected to happen_

### Steps to reproduce
_What are the steps we can take to reproduce this and verify it's fixed?_

### Traceback
_Share any debug output that was given by

[2019-09-16 02:33] ob-stripe commented on #164
I'm assuming this issue was opened by mistake. Feel free to reply if that's not the case.

[2019-09-16 02:33] #164 closed

[2019-09-16 22:42] ThomasLandauer commented on #151
`checkout.session.completed` is the most basic webhook event, isn't it? So I'm wondering why you implemented such "exotic" events as `invoice.finalized` first...

[2019-09-17 20:57] ob-stripe commented on #103
Sorry for the very late reply! That's a good suggestion, we'll look into it.

[2019-09-19 00:59] bz-stripe opened #182 "`stripe login` failed right after installation"
stripe version 0.6.5 (beta)

### Issue
Ran `stripe login` and received error message

[code]

### Expected Behavior
According to the readme: "You'll be redirected to the Stripe dashboard to confirm that you want to give access to your account to the CLI. After confirming, a new API key will be created and returned to the CLI."

### Steps to reproduce
[code]

### Traceback
[code]

### Environment
m

[2019-09-19 01:02] ob-stripe commented on #182
@bz-stripe Thanks for the report. We've identified the issue and will release a fix soon.

[2019-09-19 01:37] #182 closed

[2019-09-19 01:41] ob-stripe commented on #182
Should be fixed in 0.6.6.

[2019-09-19 15:54] bz-stripe commented on #182
thanks!

[2019-09-20 00:48] #129 closed

[2019-09-20 00:53] ob-stripe commented on #129
stripe v0.6.7 adds support for this via the `--headers` and `--connect-headers` flags.

[2019-09-20 05:47] romainmenke commented on #129
Awesome! Thank you!

[2019-09-20 17:27] tomer-stripe commented on #43
Going to close this since we think we might've addressed the underlying issue! We can re-open if it surfaces again.

[2019-09-20 17:27] #43 closed

[2019-09-25 04:32] clavaque opened #196 "Trigger request"
### Problem
_What are you trying to do?_

I'm trying to test a webhook endpoint's event handlers. The plugin I'm updating to the latest API has only a few of them, but just one is supported in the current CLI:

- invoice.payment_succeeded

### Feature
_What would help you accomplish your original task_

I was wondering if you are planning to add any of these soon?

- invoice.payment_failed
- custo

[2019-09-25 17:43] tomer-stripe commented on #196
Hey @clavaque! I'm going to ticket these on our side and see if we can do some of these quick (I think a few might be easy to do).

Out of curiosity, which plugin are you working on?

[2019-09-25 21:19] tdarnett opened #198 "charge.refunded webhook support"
### Problem
Trying to test `charge.refunded` webhooks with the CLI but it is not supported as of now.

### Feature
Support for `charge.refunded` events in the CLI. Providing a way to specify the charge_id you want it to attach to, and a refund amount to test it with would be amazing.

[2019-09-25 22:41] tomer-stripe commented on #198
Hey @tdarnett! #196 will add a `charge.refunded` trigger but not the ability to set the charge_id to refund or the amount.

You could use the `stripe refunds create` commands to do that though:

[code]

[2019-09-25 22:42] #196 closed

[2019-09-26 00:40] tomer-stripe commented on #196
@clavaque was able to add all of them! They're in v0.6.8 if you want to upgrade to that.

[2019-09-27 17:51] #151 closed

[2019-09-27 18:31] ob-stripe commented on #151
We just released v0.6.10 with support for triggering `checkout.session.completed` events.

[2019-09-28 20:33] taylorstutts opened #207 "API key configuration fails"
### Issue
Trying to set up and run https://github.com/stripe/stripe-payments-demo but the start script fails at the step that runs `stripe listen`. It seems that `stripe` thinks the API keys are not set, but AFAICT they are.

To verify, I manually ran the `stripe listen` command:

`$ stripe listen --project-name=stripe-payments-demo --forward-to http://localhost:8000/webhook`

So I ran `stripe log

[2019-09-30 16:58] ob-stripe commented on #207
Hi @taylorstutts. The `--project-name` flag instructs the CLI to read/write from/to a specific section of the configuration file instead of the `default` section.

So you can either run `stripe login` with the `--project-name` flag to store the API keys under a specific project name:
[code]

then use the `stripe listen` command (or any other command) with the same `--project-name`:

[code]

or alt

[2019-09-30 22:58] aldarund commented on #151
@ob-stripe dont seem to be working. When i trigger it im getting an error.
stripe trigger checkout.session.completed
Trigger failed: Unable to retrieve CheckoutSession ID
Unable to retrieve CheckoutSession ID

And as i see i dont need to provide any param as when i try it complains about it. Also its missing on your wiki page https://github.com/stripe/stripe-cli/wiki/trigger:-supported-events

[2019-10-01 00:30] ob-stripe commented on #151
@aldarund The error message is misleading, this means one of the API requests failed for some reason. I'll push a fix to provide a better error, which should help us figure out why the command is failing for you.

I've also updated the wiki page, thanks!

[2019-10-01 13:44] davefinarb opened #209 "stripe cli login stuck on "Waiting for confirmation""
### Issue
stripe login --api-key pk_test_****
it then shows
Your pairing code is: some-codes
This pairing code verifies your authentication with Stripe.
Press Enter to open the browser (^C to quit)
⣯ Waiting for confirmation...
Then it sticks in it and after some mins it shows
exceeded max attempts and quits

### Expected Behavior
Probably opens a browser. Not sure.

### Environment
Ubuntu 19 Linu

[2019-10-01 16:41] ob-stripe commented on #151
@aldarund Could you upgrade to version 0.6.12 and try again? I expect the command to still fail, but hopefully we should get a clearer error message.

[2019-10-01 16:46] ob-stripe commented on #209
Hi @davefinarb, thanks for the report. Indeed, the `stripe login` command should open your browser and take you to a confirmation page to grant access to your Stripe account to the CLI.

Could you confirm the following?

- Are you running the `stripe login` command from a graphical environment?
- What happens if you run `xdg-open https://stripe.com` from a terminal?

[2019-10-01 20:50] jakemaas1 opened #212 "trigger payment_intent.created with listen --forward-to local sends 3 POST requests"
### Issue
Apologies if this is a me issue, and not a bug, but I am having the following problem:

I am testing a rails endpoint set up to accept the `payment_intent.succeeded` webhook, and when triggering the event I am seeing 3  subsequent POST requests to my local server.

My webook is set up from the dashboard to only notify on payment_intent success/failure.

### Expected Behavior
I expect the

[2019-10-01 20:55] ob-stripe commented on #212
Hi @jakemaas1. AFAICT this is expected behavior. The CLI triggers specific events by sending regular API requests on your behalf. Some events cannot be triggered by a single API request and cause side-effects: for example, in order to trigger a `payment_intent.succeeded` event, the CLI must first send a payment intent creation request (resulting in a `payment_intent.created` event), then confirm i

[2019-10-01 20:55] #212 closed

[2019-10-02 14:32] ThomasLandauer commented on #151
`checkout.session.completed` is missing in this list too: https://stripe.com/docs/stripe-cli#supported-events

[2019-10-02 16:33] ThomasLandauer commented on #151
Since there's no documentation available (yet), please allow me to ask here.

I just want to test if my webhook handler is working. That's all :-) So I'm doing `stripe trigger checkout.session.completed`, right? This gives me 6 result lines in the `listen` console window:
`payment_intent.created`
`customer.created`
`payment_method.attached`
`charge.succeeded`
`payment_intent.succeeded`
`checkout.s

[2019-10-02 16:56] aldarund commented on #151
The error is following
[code]

[2019-10-02 17:02] joek-stripe commented on #151
To facilitate this request we actually had to extend the capabilities of the restricted API keys (rak).

To fix this issue

1. https://dashboard.stripe.com/test/apikeys
2. select "edit key" on your restricted API key
3. enable "write" permissions on "all checkout resources" as seen in attached screenshot

<img width="1150" alt="Screen Shot 2019-10-02 at 10 00 12 AM" src="https://user-images.github

[2019-10-02 17:07] joek-stripe commented on #151
yes, navigate to https://dashboard.stripe.com/test/logs

the current functionality of this trigger is as you state in (b), however its hardcoded to a test payment token (https://stripe.com/docs/testing). If there is a more intuitive or useful behaviour that you'd prefer to see, please share

[2019-10-02 17:51] ThomasLandauer opened #213 "`--api-version` not working"
`stripe listen --api-version 2019-09-09` results in:

The same goes for `stripe trigger checkout.session.completed --api-version 2019-09-09`

Second issue:
It looks like Stripe CLI is defaulting to the 2019-03-14 API version, not to my currently used API version.

I have:

[2019-10-02 18:24] ThomasLandauer commented on #151
That's not working, since I'm using it on my development machine with `--forward-to`. Is there a way to echo the server's response to the terminal window, or write it to some logfile?

My use case for the CLI is automated testing. So my preferred behavior/workflow would be:
1. Start a payment in the browser. When setting up the session with `\Stripe\Checkout\Session::create`, I'm getting the `paym

[2019-10-02 18:29] ob-stripe commented on #151
Not at the moment. We're working on making the local endpoint responses visible through the dashboard, but printing in the terminal or piping to a local log file is also something we could do. We'll look into it, thanks for the suggestion!

[2019-10-02 18:32] ThomasLandauer commented on #151
The credit card number is hardcoded, but not the payment_intent number (`pi_`...), right?

[2019-10-02 18:36] joek-stripe commented on #151
Yes that is fed through to the next request as can be seen here https://github.com/stripe/stripe-cli/blob/master/pkg/requests/examples.go#L179

Also if it's helpful here is the mock to flex that flow https://github.com/stripe/stripe-cli/blob/master/pkg/requests/examples_test.go#L387

[2019-10-02 18:37] ob-stripe commented on #213
Unfortunately, due to technical constraints on the backend, the `listen` command can only support two different API versions:
- by default, events will be formatted according to your account's default API version (which you can view at https://dashboard.stripe.com/developers)
- alternatively, you can request that events be formatted with the latest API version by using the `--latest` (or `-l`) fla

[2019-10-02 19:12] ThomasLandauer commented on #151
How can I ask for the webhook of a *specific* payment?

I'm setting up the checkout session like this:
[code]
This seems to work. Now I'd like to trigger the notification for * this* payment. But when I do `stripe trigger checkout.session.completed` I'm getting a new payment?!

[2019-10-02 19:19] ThomasLandauer commented on #213
I think what you're saying conflicts with the docs at https://stripe.com/docs/stripe-cli#api-requests - doesn't it?

[2019-10-02 19:29] ob-stripe commented on #213
No. When using API requests commands (e.g. `stripe charges create`, `stripe customers update`, etc.), you can specify any API version. This controls which parameters are accepted in the request, and how the API response is formatted.

However, it doesn't control which API version will be used to format the resulting event (if any). This is briefly mentioned here: https://stripe.com/docs/api/versio

[2019-10-02 19:39] ob-stripe commented on #151
At the moment, you can't. `stripe trigger <event_type>` will always create a new API resource for the event type you want to trigger, and can't be used to affect existing API resources. (We'll probably add the ability to do this in the future, but we're not quite sure yet what exact shape the feature will take -- Stripe's API has a lot of different events and we'd like to have a somewhat generic i

[2019-10-02 19:41] ThomasLandauer commented on #213
No real use case, I just noticed some usage of the 2019-03-14 API version in my dashboard (test mode) after starting to use the CLI, and was wondering if I'm doing something wrong. My default is 2019-09-09.

Anyway, I guess it's not too important, so if you think it's not a bug, and the docs are correct, you can close this ;-)

[2019-10-02 20:04] ThomasLandauer commented on #151
You mean, do what the end-user does in the browser after being redirected to https://checkout.stripe.com/pay/... ?

In general: What I'm looking for is a way to get my tests running on my development machine (that doesn't have a public IP).

[2019-10-03 05:53] tarjei opened #214 "Add backfill option"
### Problem
When I forgot to restart the command to forward webhooks I would like to say "fetch the webhooks of the last x minutes"

### Feature
A --backfill=time option where I can say --backfill=2m or --backfill=2h

### Examples
I think the two items above covers it.

[2019-10-03 16:55] tomer-stripe commented on #214
Thanks for the suggestion! At the moment we don't store any of the webhooks in the service the CLI connects to so we don't have a straightforward way to handle this. While not as easy, one option could be to resend some of them from the CLI:

[code]

You could retrieve all webhooks using the events endpoint and pipe it into the trigger command using jq/xargs.

I know that's quite involved though s

[2019-10-03 18:25] iLoveTux opened #215 "WARN Received malformed message: Unexpected message type: error"
_The more information we have the easier it is for us to help. Feel free to remove any sections that might not apply_

### Issue

While testing my application, I use stripe CLI to forwardd webhook events to my local dev server. Everything seems to be working well except I get the following warning for every webhook event that arrives.

    WARN Received malformed message: Unexpected message type:

[2019-10-03 18:43] louim opened #216 "Listen output can be a bit confusing when receiving multiple events"
Hey! Fantastic work on the cli, makes testing webhooks so much easier 😄.

When dealing with multiple webhook calls from Stripe in a short period of time, the cli output can be a bit confusing, see screenshot below:
![Capture d’écran 2019-10-03 à 14 32 58](https://user-images.githubusercontent.com/923718/66154366-463d2b80-e5eb-11e9-92fa-d96c0874211c.png)

Understanding which webhook failed and wh

[2019-10-03 18:54] ob-stripe commented on #216
Hi @louim. Great suggestion! We'll look into adding this soon.

[2019-10-03 21:18] bz-stripe opened #217 "ERROR read error: websocket: unexpected reserved bits 0x40"
### Issue
When listening to webhooks, there's occasional error messages

### Expected Behavior
Expect to only see messages related to webhook events

### Steps to reproduce
`$ stripe listen`

### Traceback
`ERROR read error: websocket: unexpected reserved bits 0x40`

### Environment
macOS 10.14.6

[2019-10-04 15:46] alucic opened #218 "Creating issuing_authorization.* events"
### Problem
I'd like to use `stripe-cli` to help me with end to end testing of `issuing` webhooks.

I'd like to be able to trigger issuing events:
- `issuing_authorization.request`
- `issuing_authorization.created`
- `issuing_authorization.updated`

### Feature
I'd like to be able to trigger hooks on a connected account so I can test different use cases like:
- approving/declining authorizations
-

[2019-10-04 16:54] tomer-stripe commented on #218
Hey @alucic! What you've suggested is the direction we want to head in and I shared the feedback with the Issuing team. I'm going to sync up with them to try to come up with a path forward but because some of the webhooks from issuing work in a synchronous manner (instead of async like most of our other webhooks) we'll need to rework some of the CLI's forwarding capability to handle those correctl

[2019-10-04 20:34] ob-stripe commented on #217
This specific error is a known issue when using the CLI against our devboxes (I think one of the proxies between the CLI and the service running on the devbox might not fully websocket-compliant), but I agree we shouldn't be reporting these non-fatal errors (or just reporting them as debug messages).

[2019-10-06 08:33] shez1983 opened #220 "doesnt seem to listen to more than one event?"
_The more information we have the easier it is for us to help. Feel free to remove any sections that might not apply_

### Issue
When I try to do two actions on stripe (Cancel subscription and Reactivate it) - it feels like it only listens to ONE event?
<img width="677" alt="Screenshot 2019-10-06 at 9 29 25 AM" src="https://user-images.githubusercontent.com/3440597/66266351-dc579880-e81b-11e9-8bcf

[2019-10-06 23:42] tomer-stripe commented on #220
Sorry about that, that definitely should not be happening. I'm having trouble reproducing that when I run it locally. When I tried to run through the steps you suggested I get:
[code]

I'm also unable to reproduce the issue with with ctrl+c :(

What version of the CLI are you running? Is there any output after `Received: `? Like the type or the event id?

The forwarding will POST to the url you pr

[2019-10-06 23:44] tomer-stripe commented on #215
I've been trying to reproduce this but haven't had much luck :(. I think I just saw this happening to someone else though so I'm going to dig in more.

What version are you running? Also could you see if it does that with log tailing? Run `stripe logs tail` and make any testmode API requests.

[2019-10-07 10:54] kimmobrunfeldt commented on #215
I'm also experiencing this. `stripe logs tail` says:

[code]

[2019-10-07 15:14] tomer-stripe commented on #217
Just merged a branch that will move these to debug statements. Since it doesn't seem like it's impacting functionality I'm leaning on closing this for now. What do you think?

[2019-10-07 17:07] dieguinho38 opened #222 "71706a04548f38bc0caa062c2c7bd454dae5d1bf"
_The more information we have the easier it is for us to help. Feel free to remove any sections that might not apply_

### Issue
_Describe what happened and what you were trying to do_

### Expected Behavior
_Tell us what you expected to happen_

### Steps to reproduce
_What are the steps we can take to reproduce this and verify it's fixed?_

### Traceback
_Share any debug output that was given by

[2019-10-07 17:08] dieguinho38 opened #223 "71706a04548f38bc0caa062c2c7bd454dae5d1bf"
### Problem
_What are you trying to do?_

### Feature
_What would help you accomplish your original task_

### Examples
_Any example interaction you expect_

[2019-10-07 17:08] dieguinho38 opened #224 "71706a04548f38bc0caa062c2c7bd454dae5d1bf"
### Feedback
_Give us free-form feedback on the CLI. Tell us what you're building, what you're trying to do with the CLI, features you'd like to see, areas that the CLI helps, areas where it needs improvement, anything confusing you saw, etc._

_Feedback can be completely freeform and stream of consciousness! If you prefer to submit private feedback, we have a form setup to do that: https://stri.p

[2019-10-07 17:09] #222 closed

[2019-10-07 17:10] #223 closed

[2019-10-07 17:10] #224 closed

[2019-10-07 17:46] tomer-stripe commented on #51
Hey all, closing this issue since it looks like we resolved the underlying issues with the listen command. If you're still having issues please open a new issue!

[2019-10-07 17:46] #51 closed

[2019-10-07 17:58] ob-stripe commented on #103
Forgot to reply before, but this was implemented in [0.6.11](https://github.com/stripe/stripe-cli/releases/tag/v0.6.11)!

[2019-10-07 17:58] #103 closed

[2019-10-07 17:59] #213 closed

[2019-10-07 18:00] #198 closed

[2019-10-07 18:01] ob-stripe commented on #114
I'm closing this thread as we were never able to reproduce the issue. Event forwarding by the CLI should always be done as POST requests: https://github.com/stripe/stripe-cli/blob/4d6778bd806c828612462d9dfcd421231bfe60f7/pkg/proxy/endpoint.go#L83

Something in your environment must be proxying as GET, but I really don't know what it could be.

Feel free to reply if you can provide more information

[2019-10-07 18:01] #114 closed

[2019-10-08 00:05] bz-stripe commented on #217
Yup, closed

[2019-10-08 00:05] #217 closed

[2019-10-08 16:28] tomer-stripe commented on #215
I think these warnings can be safely ignored for now -- we released a new version that should hide these. I'm going to keep digging into why those are happening but they should not impact the CLI functionality itself.

[2019-10-10 12:04] bakurin opened #228 "Support of "payment_intent.canceled" event"
### Problem
`payment_intent.canceled` event is not supported at the moment

### Feature
Support of `payment_intent.canceled`.

### Examples
Running `stripe trigger payment_intent.canceled` leads to `event payment_intent.canceled is not supported.`

Pull request stripe/stripe-cli#229

[2019-10-11 12:40] #209 closed

[2019-10-11 16:48] ob-stripe commented on #209
Weird! Thanks for closing the loop anyway.

[2019-10-11 16:57] ob-stripe commented on #228
Available as of v0.7.3. Thanks again for the PR @bakurin, we appreciate the contribution! :)

[2019-10-11 16:57] #228 closed

[2019-10-12 18:33] amiratak88 opened #230 "Add support for listening to only certain events"
It'd be nice to be able to listen for certain events only. Currently It sends listens for all events. Something like this:
[code]

[2019-10-13 00:18] ob-stripe commented on #230
Hi @amiratak88. Good news, the CLI already supports this! If you want to listen for more than one event type, you can either:

1. separate event types with a comma:

[code]

2. repeat the `--events` (or `-e`) flag:

[code]

Closing since this feature is already implemented, but feel free to reply!

[2019-10-13 00:18] #230 closed

[2019-10-13 15:29] JackWH opened #231 "Installation in a firewalled Ubuntu VM throws error: "gpg: keyserver receive failed: Server indicated a failure""
### Issue
I am using [Laravel Homestead](https://github.com/laravel/homestead), an Ubuntu-based development VM — which I would assume many people would want to use with stripe-cli, given the popularity of [Laravel Cashier](http://github.com/laravel/cashier).

But trying to install stripe-cli by following the [installation instructions](https://stripe.com/docs/stripe-cli) for Debian and Ubuntu-base

[2019-10-13 15:50] amiratak88 commented on #230
awesome, thank u

[2019-10-13 21:03] ob-stripe commented on #231
Thanks for the detailed report and the solution @JackWH! I've updated the README file accordingly. The docs on stripe.com will be updated as well soon.

[2019-10-13 23:45] dylanitorium opened #233 "Listener not receiving events"
### Issue
The command line listener is receiving no events, instead events are being sent to the dashboard.

(The CLI is also telling me to upgrade to 0.7.3 despite being on 0.7.3)

### Expected Behavior
The command line listener to receive events, and to not receive them in the dashboard.

### Steps to reproduce

1. `stripe login --interactive` (Then follow the steps, enter the secret key from th

[2019-10-14 00:43] dylanitorium commented on #233
Ok turns out that this was a websocket error:

[code]

The actual connection error looks to be due to some ISP configuration at my end, but it took me a decent while to even turn on the log level to debug given that it told me it was "Ready"

[2019-10-14 00:43] #233 closed

[2019-10-14 12:25] philippemiguet opened #234 "Authorization failed when running stripe listen with --livemode flag"
### Issue
When running `stripe listen -p segment --livemode --forward-to https://localhost:3000/stripe_webhook` I got the following error
[code]

I then generated a restricted key from the Stripe dashboard with the write rights for CLI, and added the missing `live_mode_api_key` in `~/.config/stripe/config.toml` for the "segment" project.

When running again the same command, I get the following er

[2019-10-14 14:51] JackWH commented on #231
Thanks for a swift response! I'll close this issue now.

[2019-10-14 14:51] #231 closed

[2019-10-14 17:03] ob-stripe commented on #234
Hi @philippemiguet, thanks for the detailed report.

This is expected, though you'd have no way of knowing that. We're still in the process of rolling out live mode support for the CLI. Stripe accounts that have access to this feature automatically get a live mode restricted API key when running `stripe login`, and can then use that key to listen for live mode events with `stripe listen --livemode

[2019-10-14 19:44] ob-stripe commented on #231
The docs on stripe.com have been updated. Thanks again!

[2019-10-14 19:50] ob-stripe commented on #233
Thanks for the report @dylanitorium. There are definitely a few things we can improve here, most notable the fact the CLI says "Ready!" before it's actually ready.

[2019-10-15 06:28] philippemiguet commented on #234
Hi @ob-stripe, thanks for the speedy and clear answer!

I have another question related to this issue/feature. **Will it allow to use `stripe trigger` to replay specific production events?**

At the moment, the `stripe trigger` command doesn't have a `--livemode` flag, so I passed the restricted production api key using `--api-key` to force using that key. I then got the following error:
[code]

I

[2019-10-16 07:30] 0506569966 opened #239 "716754"
_The more information we have the easier it is for us to help. Feel free to remove any sections that might not apply_

### Issue
_Describe what happened and what you were trying to do_

### Expected Behavior
_Tell us what you expected to happen_

### Steps to reproduce
_What are the steps we can take to reproduce this and verify it's fixed?_

### Traceback
_Share any debug output that was given by

[2019-10-16 16:45] #239 closed

[2019-10-16 22:39] williamhammond opened #241 "Being told to upgrade to a version I'm on"
_The more information we have the easier it is for us to help. Feel free to remove any sections that might not apply_

### Issue
_Describe what happened and what you were trying to do_

I'm attempting to generate a `sigma.scheduled_query_run.created` event. After installing the CLI I attempt to run the command and see.
[code]
After looking at the available versions I appear to have the latest and

[2019-10-16 22:50] williamhammond commented on #241
Sorry for kind of conflating two issues if you'd like I can make two tickets. I tested on master and I'm still seeing
[code]
even though https://github.com/stripe/stripe-cli/blob/4fa4bd94e8cabaada17a8be5af3cc1ca4bf6b7a8/pkg/cmd/events_list.go#L125 implies that it is a supported event type

[2019-10-16 23:19] ob-stripe commented on #241
Hi @williamhammond. We've just released v0.7.4 which should hopefully solve the invalid version upgrade message. Can you try upgrading and see if you're still observing the issue?

For the other issue (unable to trigger `sigma.scheduled_query_run.created`), it'd be preferable to open a separate ticket, but I can confirm that right now the CLI cannot trigger this event type.

[2019-10-17 05:55] warksit opened #242 "Connect Webhooks not POSTed to URL after being received"
### Issue
Connect webhooks are received by stripe cli but not POSTed to my url when I just set a `--forward-connect-to url`. If I set both `--forward-connect-to` and `--forward-to` then they all get POSTed to my url correctly. [Screenshot of stripe-cli output](https://www.dropbox.com/s/rxxe5n6rhofcpxg/Screenshot%202019-10-17%2015.37.28.png?dl=0) notice the lack of POST lines at the bottom. Same ch

[2019-10-17 13:41] williamhammond commented on #241
Cool thank you!

[2019-10-17 13:41] #241 closed

[2019-10-18 13:37] philippemiguet commented on #234
That's great to hear, can't wait to test that feature!

Ah thanks I've found it! @ob-stripe, would you be able to provide an email address where I can send you our account ID. Even though it is not a super sensitive information we would like to not share it on a public repository 😄

[2019-10-18 17:27] ob-stripe commented on #234
@philippemiguet Actually, we've just rolled out the ability to use the CLI in live mode to all accounts.  `stripe listen --livemode` should work now.

[2019-10-18 22:55] tomer-stripe commented on #242
@ob-stripe was there a reason we made them both be required? I can't remember if that was an intentional decision or not.

[2019-10-18 23:42] ob-stripe commented on #242
Not that I can remember. It makes sense to enable the use `--forward-connect-to` without passing `--forward-to`, we should fix it.

[2019-10-19 00:22] ob-stripe commented on #234
As of v0.7.5, you can use the `stripe events resend` to resend past events.

The command expects the event ID as its argument. By default, it will resend the event to connected CLI clients (i.e. CLI instances running `stripe listen`). You can use the `--webhook-endpoint we_123` flag to resend the event to a specific webhook endpoint instead.

The command also accepts a `--livemode` flag to resend

[2019-10-19 00:22] #234 closed

[2019-10-22 17:10] #156 closed

[2019-10-22 17:55] ob-stripe commented on #156
Hey @danielpeach, sorry for the late reply here. We've made some improvements to the CLI, and as of v0.7.6 it should no longer display the "Ready" message before the websocket connection is actually established.

[2019-10-22 21:08] #216 closed

[2019-10-22 23:42] ob-stripe commented on #216
Hello! Just a quick note that we've changed the format of the `listen` command output in the latest version (v0.7.7). The lines for responses from the local endpoint now include the event ID, so that you can map them to incoming requests. Let us know what you think!

[2019-10-23 00:57] ob-stripe commented on #220
Hi @shez1983. Are you still observing the issue? If so, can you try upgrading to the latest version of the Stripe CLI? We've made some changes that might help (in particular Ctrl+C should now work as expected).

[2019-10-23 15:57] louim commented on #216
Much clearer now, thanks for working on this! 🎉

[2019-10-23 21:08] #242 closed

[2019-10-23 21:10] ob-stripe commented on #242
This should be fixed in v0.8.0.

[2019-10-24 10:15] lukepearce commented on #50
What did your entry to hosts look like?

[2019-10-24 10:25] JackEllis commented on #50
@lukepearce I did something like:

127.0.0.1	mysite.test

[2019-10-24 10:33] JackEllis commented on #50
@lukepearce What's the :53 about? Is that meant to be a colon? And it could be some internal firewall stuff going on regarding port 53...

[2019-10-24 11:25] lukepearce commented on #50
@JackEllis I'm not sure, I'm using a standard valet set up as far as I'm aware.

[2019-10-24 15:21] ststdimov opened #249 "Trigger and listen to trial period events"
### Problem
Hey, guys. We are developing a system that uses Stripe as a payment management service.
We need to test **customer.subscription.trial_will_end event**

### Feature
We need to listen and handle customer.subscription.trial_will_end event along with cancel_at_end option, in order to email the users in our system that their trial period will end after X days and they should take some actio

[2019-10-24 17:20] ob-stripe commented on #249
Hi @ststdimov, thanks for the feature request.

Unfortunately at this time the CLI can only trigger events that are a direct consequence of API requests (because that's exactly what it does, e.g. to trigger a `payment_intent.created` event the CLI simply sends a payment intent creation request).

This means that asynchronous events that are triggered by background jobs on Stripe's end, such as `cu

[2019-10-24 21:09] JuanRangel commented on #50
@lukepearce Any luck with this? I'm running laravel valet and adding the domain to the hosts file does not work.

[2019-10-25 17:05] ob-stripe commented on #50
Hey everyone. I think this is ultimately a DNS setup issue and not something that the Stripe CLI can solve, but as a possible workaround, you could try this:

[code]

This way, the CLI will no longer need to resolve the domain name (because you're directly providing an IP address) but will still send the `Host` header (which might or might not be needed by Laravel's web server).

[2019-10-25 18:13] MrMooky commented on #50
@ob-stripe This worked. 🎉  Thanks a lot! I had to change the IP with the one my system provided, though.

[2019-10-25 21:09] tomer-stripe commented on #215
Will close this out, the unexpected types can happen sometimes if we make changes on the backend. This has no implication on the CLI itself though, especially now as this has been moved to debug statements and no longer print out.

[2019-10-25 21:09] #215 closed

[2019-10-28 22:57] aminnaggar commented on #51
Hey great work on providing a docker image for this. I'm running into the same issue as @Freezystem before me. I'm tryin to run this non-interactively, and I'm getting

this is my configuration

[code]

What am I missing? Cheers

[2019-10-29 05:04] ob-stripe commented on #51
Hey @aminnaggar, thanks for the report. I think support for setting the API key via an environment variable is broken in the current version (0.8.0). We will investigate and report back here soon. Sorry for the inconvenience!

[2019-10-29 11:26] jdewells opened #251 "Support "payment_intent.amount_capturable_updated" event"
### Problem
At the moment, we can't test the manual capture flow with the Stripe CLI because `payment_intent.amount_capturable_updated` isn't supported.

### Feature
For `payment_intent.amount_capturable_updated` to be fired when capturing a payment intent with a manual capture, once it's authorised.

[2019-10-29 15:15] tomer-stripe commented on #251
@jdewells looking into this, asking the team now!

[2019-10-30 15:45] tomer-stripe commented on #251
I think I have an idea for how to do this but am going to wait until I get #244 merged since that's redoing the entire interface for that. I'll keep posting updates here

[2019-10-31 18:37] jlnostr opened #260 "Windows: Use ZIP file archive format for GitHub releases"
Because Windows is not able to unpack `.tar.gz` files by default, it would be nice if the GitHub release for Windows could be packed as `.zip`. This would allow an easier usage on Windows where the system is able to open ZIP archives natively.

[2019-10-31 18:46] ob-stripe commented on #260
Very good suggestion, thanks @jlnostr! We'll look into that ASAP.

[2019-10-31 18:50] #260 closed

[2019-10-31 18:51] ob-stripe commented on #260
Well that was an easy fix :) As of v0.8.3, Windows binaries will be released as `.zip` instead of `.tar.gz`.

[2019-10-31 18:51] jlnostr commented on #260
That was quick, holy cow. Thanks!

[2019-11-01 01:11] auchenberg-stripe opened #263 "Update intro text and remote beta warning"
We should remove the beta warning and update the intro text to:

`The official command-line tool to interact with Stripe.`

Formatting like:
<img width="1188" alt="Screen Shot 2019-10-31 at 6 11 10 PM" src="https://user-images.githubusercontent.com/53238203/67995841-d6ca5400-fc09-11e9-9e8e-b45477540c2d.png">

[2019-11-01 02:01] tomer-stripe commented on #263
🎉

Should sync this up with the docs too: stripe.com/docs/stripe-cli

[2019-11-01 20:26] benekastah opened #266 "`stripe trigger customer.subscription.updated` fails with 404s"
_The more information we have the easier it is for us to help. Feel free to remove any sections that might not apply_

### Issue

I was trying to test my webhook, so I ran `stripe trigger customer.subscription.updated` and got 404 responses. The webhook never was hit with the event type `customer.subscription.updated`.

### Expected Behavior
On the previous version, no 404s happened and the webhoo

[2019-11-01 20:37] ob-stripe commented on #266
Hi @benekastah, thanks for the report and sorry for the inconvenience.

@tomer-stripe Can you take a look? This is likely related to #244.

[2019-11-01 22:26] tomer-stripe commented on #266
Yep!

[2019-11-01 23:41] auchenberg commented on #266
Same case for `stripe trigger payment_intent.succeeded` on 0.9.0

[code]

[2019-11-02 00:13] tomer-stripe commented on #266
Actively working on a fix for this! Hope to get it resolved soon.

[2019-11-02 00:46] auchenberg-stripe opened #269 "Completion command generates bash script for ZSH"
_The more information we have the easier it is for us to help. Feel free to remove any sections that might not apply_

### Issue
Completion command generates bash script for ZSH

### Expected Behavior
Completion command generates to generate ZSH script.

### Steps to reproduce

Running `stripe completion` gives you:

[code]

### Environment
Stripe CLI version `0.9.0`
macOS

[2019-11-04 00:41] tomer-stripe commented on #269
@auchenberg-stripe you might need to run it with the `--shell` flag: `--stripe completion --shell zsh`

[2019-11-04 01:23] auchenberg commented on #269
Aren't we supposed to detect the current shell automatically and help the user?

[2019-11-04 01:40] tomer-stripe commented on #269
I had some hesitation about `exec`ing out to do that but you're right that we should try to do it automatically.

Let me put a PR together and see what other people think.

[2019-11-04 01:49] auchenberg opened #273 "Improve error message for stripe listen --forward-to localhost:4242"
### Problem
Run `stripe listen --forward-to localhost:4242` but my localhost server ins't running.

### Feature
Currently we show:
[code]

### Examples
We should have a nicer error messaging, suggesting something like "Failed forwarding webhook to  http://localhost:4242:. Sure your web server is running?"

[2019-11-04 14:35] metuan opened #276 "Typo in official documentation"
### Feedback
When you go through the official doc: [Building a webhook endpoint - Listening and forwarding events](https://stripe.com/docs/webhooks/build#listening-and-forwarding) there is a typo in the following command:
- `stripe listen --foward-to localhost:4242/webhook`
and it results in:
- `unknown flag: --foward-to`.

It should be changed to `stripe listen --forward-to localhost:4242/webhook

[2019-11-04 15:00] tomer-stripe commented on #276
Thanks @metuan! Will get that fixed

[2019-11-04 17:44] tomer-stripe commented on #276
Fixed :D

[2019-11-04 17:44] #276 closed

[2019-11-04 17:57] #266 closed

[2019-11-04 18:07] #263 closed

[2019-11-04 18:20] #269 closed

[2019-11-04 19:59] MaxDesiatov opened #279 "Installation of 1.0 release fails on macOS with homebrew"
### Issue
I've tried to install the CLI with `brew install stripe/stripe-cli/stripe` command. An error always occurs during the process, which wasn't reproducible for 0.9 release:

[code]

### Expected Behavior
The package is installed without any issues.

### Steps to reproduce
Run `brew install stripe/stripe-cli/stripe` on macOS with Homebrew installed.

### Traceback
Listed above.

### Environm

[2019-11-04 20:07] #279 closed

[2019-11-04 20:08] ob-stripe commented on #279
Hi @MaxDesiatov, thanks for the report and sorry for the trouble. I just released 1.0.1 which should fix the brew installation issue. It will be available in a few minutes. Please let me know if you're still observing the issue after updating!

[2019-11-05 17:46] TechTeam12 opened #283 "Instillation link for linux leads to 404"
Your [linux install section](https://github.com/stripe/stripe-cli#linux) has a dead link for the instillation wiki link.
Your wiki can be found at: https://github.com/stripe/stripe-cli/wiki/installation#linux not the link https://github.com/stripe/stripe-cli/blob/master/wiki/installation#linux that your readme has.

### Issue
On the repo home space if you go to the linux download and attempt to na

[2019-11-05 17:53] tomer-stripe commented on #283
Fixing!

[2019-11-05 17:55] TechTeam12 commented on #283
Thanks!

[2019-11-05 18:00] TechTeam12 commented on #283
Nice fixes!

[2019-11-05 18:08] #283 closed

[2019-11-05 18:11] tomer-stripe commented on #283
@TechTeam12 GitHub's being a little slow to merge, sorry about that :(

[2019-11-05 18:49] danielpeach commented on #156
awesome, thank you!

[2019-11-05 19:30] PhilETaylor opened #286 "--color off not working"
### Issue
`--color off` flag not honoured

### Expected Behavior
raw JSON

### Steps to reproduce

run command with `--color off`

[code]

See that the output is still colourized in the terminal output - it should not be?

### Environment
v1.0.1 on mac in iTerm

[2019-11-05 19:42] PhilETaylor opened #287 "Attempting to tail LIVE logs"
### Issue
Idiots like me dont read - and try to append `--live` to `logs tail` and the command does something, but no live logs are ever received...

documentation only talks about tailing test mode logs - but im an idiot and do not read, maybe live logs are impossible to tail? maybe they should be able to be tailed with --live?

### Expected Behavior

Error saying you cannot tail live logs OR the

[2019-11-05 19:46] PhilETaylor opened #288 "docs in places has --livemode instead of --live"
docs in places has `--livemode` instead of `--live`

eg at the bottom of https://github.com/stripe/stripe-cli/wiki/Open-command

[code]

which gives

`unknown flag: --livemode`

Furthermore, `--live` is very sparsely referred to throughout the stripe-cli project documentation/examples. Took me ages to find how to use live mode instead of test :) but then im an idiot.

[2019-11-05 19:51] tomer-stripe commented on #288
Fixed that specific instance, I'll do another pass to see if we missed any more.

The `--live` flag is something we're slowly rolling out which is why it's not as heavily documented. Where are you trying to use it?

[2019-11-05 19:52] tomer-stripe commented on #287
Yep, live log tailing isn't quite supported yet, sorry for the confusion! We're still evaluating that on our side but we'll track any updates in #101.

[2019-11-05 19:53] PhilETaylor commented on #288
It was mentioned in the tweet https://twitter.com/patrickc/status/1191773489486655488 :-) so I thought I would give it a go

[2019-11-05 19:53] PhilETaylor commented on #287
Cool - but maybe the command when called with --live should actuall SAY its not doing anything :) instead of giving a false impression it is :)

[2019-11-05 22:36] tomer-stripe commented on #288
Oh yea, that use case should work! It works across all the resource and request commands right now, it's more around the real-time features that we're still rolling out.

[2019-11-05 22:40] PhilETaylor commented on #288
`--live`  does work in that example, listing subscriptions.

Once you have done a quick sweep for any `--livemode` then feel free to close this

[2019-11-06 07:17] kypalmer opened #292 "customer.subscription.created support"
### Problem
Testing subscription creation (with metadata) webhooks in a local dev environment.

### Feature
A trigger for `customer.subscription.created` with customizable fields like metadata, email and plan.

### Examples
`stripe trigger customer.subscription.deleted --metadata:{prop: "value"}` would seem to work well (JavaScript style object property syntax). It could also be json style, if tha

[2019-11-06 07:29] kypalmer opened #293 "Simulating Connect Platform events"
### Problem
Test features in a connect platform app that rely on Connect Webhooks.

### Feature
An ability to simulate Connect Webhooks for test-mode connected accounts. Ideally, it would be possible to specify the account to use, so that the local dev app can keep the test-mode account id stored.

Specifying the hierarcy of the request could also be useful. For example, when triggering an invoice

[2019-11-06 14:58] Freezystem opened #294 "Stripe install GPG error "gpg: keyserver receive failed: Cannot assign requested address""
### Issue
adding a GPG key fail when running `apt-key` command  into CI.

### Expected Behavior
This command  should install GPG key without failing to allow the installation of stripe-cli.

### Steps to reproduce
run `sudo apt-key adv --keyserver hkp://pool.sks-keyservers.net:80 --recv-keys 379CE192D401AB61`

### Traceback
[code]

### Environment
CircleCI Debian base docker image: [circleci/cloju

[2019-11-06 15:09] Freezystem commented on #294
Note: removing port 80 in hkp address (added since [this bug report](https://github.com/stripe/stripe-cli/issues/231)) solve the issue: `hkp://pool.sks-keyservers.net`

[2019-11-06 17:12] Freezystem commented on #294
It seems that all first calls from a new build machine are failing, making the CI job to fail.
Running the job another time make it work.
I wonder if it's the CI or the GPG key server fault. 🤔

[2019-11-06 17:57] ob-stripe commented on #288
Just did a pass over the repository, the wiki and the docs on stripe.com and I think we removed all mentions of `--livemode`.

Closing this, though I agree we can do a better job of documenting the `--live` flag. We'll try to improve this soon.

[2019-11-06 17:57] #288 closed

[2019-11-06 17:59] Freezystem commented on #294
aaaaaand no it's randomly failing/succeeding. Sorry....! 😄

[2019-11-06 18:31] ob-stripe commented on #294
Hey @Freezystem, thanks for the report.

I can't be 100% sure, but I suspect the issue is on CircleCI's side. I found some threads reporting similar issues, e.g. https://discuss.circleci.com/t/cannot-reach-p80-pool-sks-keyservers-net-from-remote-docker-containers/15226, https://discuss.circleci.com/t/builds-failing-to-contact-keyserver/8740/4 or https://discuss.circleci.com/t/failure-to-contact-a-

[2019-11-06 18:41] Freezystem commented on #294
I used to rely on the stripe-cli docker container but I needed to be able to pass it env vars. Unfortunately tiers docker container are declared before env var can be used in CircleCI yaml script. So I finally had to rely on the stripe-cli apt package.
I'm currently using `sudo apt-get install stripe=1.0.1 -y --allow-unauthenticated` as an unsafe workaround for the moment and will try to download

[2019-11-06 18:41] #294 closed

[2019-11-06 18:46] ob-stripe opened #295 "`trigger` with customizable data"
### Description of the desired feature

The `trigger` command can be used to create sample events of various types. Many users would like to be customize the events.

For example, one could trigger a `charge.captured` event for an existing charge object:
[code]

Or one could trigger a `customer.subscription.created` for a specific customer, with custom metadata going into the subscription object:

[2019-11-06 18:59] ob-stripe commented on #293
Triggering events on a connected account is definitely doable -- we'll look into adding support for that.

Unfortunately, being able to pass custom data into triggered events (e.g. passing an existing subscription object ID when triggering an `invoice.payment_succeeded` event)  is a lot more complex, at least with the way it's currently implemented. Since several users have requested something to

[2019-11-06 19:00] ob-stripe commented on #292
We can add support for triggering `customer.subscription.created` events.

However, customizable fields would be more difficult to implement. I've opened a separate issue to discuss this feature specifically: #295.

[2019-11-06 19:04] ob-stripe commented on #287
To clarify, this feature is implemented, but most Stripe accounts currently don't have access to it (we will roll out support for this progressively in the future). I agree that we could do a better job of reporting when the account isn't enabled for tailing live mode logs instead of connecting and waiting for logs that will never come though :) We'll look into improving the experience here.

[2019-11-06 19:07] PhilETaylor commented on #287
Its all about managing expectations :-) If Im told

- This feature is implemented, but most Stripe accounts currently don't have access to it, your account doesnt; exit;

then as a user I would be "oh ok, thats cool, at least I know" :-)

[2019-11-06 19:14] marty331 opened #296 "Please add customer.source.expiring event to supported events"
### Problem
I am trying to trigger the customer.source.expiring event:
`stripe trigger customer.source.expiring`
and currently the response that I receive is:
`event customer.source.expiring is not supported.`

### Feature
I would like to be able to trigger the `customer.source.expiring` event to allow for testing of this event in my repository (and allowing other devs to have the same experience.

[2019-11-06 19:25] #286 closed

[2019-11-06 21:38] ob-stripe commented on #286
Thanks for the report! This should be fixed in v1.1.0.

[2019-11-06 22:09] ob-stripe commented on #220
Closing this, but feel free to reply if you're still observing this issue and we'll reopen.

[2019-11-06 22:09] #220 closed

[2019-11-06 22:17] ob-stripe commented on #287
Fully agreed :)

We've just rolled out a backend change to make this clearer. Trying to use the `logs tail` command with the `--live` flag when your account does not yet have access to this feature will now display a hopefully clearer error message:

[code]

Closing the issue, but feel free to reply. We'll post an update once this feature is fully "live" ;)

[2019-11-06 22:17] #287 closed

[2019-11-06 22:19] PhilETaylor commented on #287
Awesome - that’s much better and manages the expectation great! Thanks.

Sent from my iPhone

[2019-11-06 22:30] ob-stripe opened #301 "Add missing event types to the `trigger` command"
The `trigger` command supports only a subset of all possible event types. You can view which event types are supported by running `stripe trigger --help`.

Adding support for new event types is a simple but hard to automate process, so for the moment we add support for new event types when someone requests it. If you want us to add support for a new event type, please ask in this thread and we'll

[2019-11-06 23:25] ob-stripe commented on #292
Support for `customer.subscription.created` (without customization) was added in v1.2.0.

Closing this issue, but please feel free to reply in #295 to discuss the customization feature.

[2019-11-06 23:25] #292 closed

[2019-11-06 23:25] ob-stripe commented on #251
Support for the `payment_intent.amount_capturable_updated` event type was added in v1.2.0.

[2019-11-06 23:25] #251 closed

[2019-11-07 05:44] kypalmer commented on #295
Thanks for the detailed explanation.

Having the fixture files is a great compromise right now for those more complicated requests. In most cases, what I'm trying to accomplish is to trigger a series of boilerplate events from some known starting point.

For example: say I've already connected a standard account in test mode. I'd like to be able to trigger a series of events like `customer.subscri

[2019-11-07 05:52] kypalmer commented on #292
Awesome! Thanks for such a quick response on `customer.subscription.created`. FYI docs @ https://github.com/stripe/stripe-cli/wiki/trigger-command still don't have it listed as a supported event.

[2019-11-07 05:58] ob-stripe commented on #295
@kypalmer Yes, that sounds correct. For the specific case of Connect, I think right now the CLI lacks the ability to execute fixtures files on connected accounts, but we can look into adding support for that -- I don't think that should be too hard.

[2019-11-07 06:36] kypalmer commented on #295
Nice! Connected account support would be awesome.

Downloaded the source and ran a build with go after creating a copy and modifying of one of the fixtures. I tried running it and got this:

[code]
Any Idea how I can run this? (I named the file `customer.subscription.created_customized.json` in the `fixtures/` directory.

[2019-11-07 06:48] ob-stripe commented on #295
@kypalmer The command to run a custom fixtures file is `fixtures`, not `trigger`:
[code]

We need to document this better :)

[2019-11-07 06:50] kypalmer commented on #295
Awesome! thanks for all the help :)

[2019-11-07 15:57] PhilETaylor opened #303 "When dumping output, additional blank lines are added"
### Issue

2 additional lines in output

### Expected Behavior
a text file called output.txt that contains nothing but the JSON

### Actual Behavior
a text file called output.txt that contains nothing but the JSON **+ two additional blank lines at the end**

![Screenshot 2019-11-07 at 15 57 16](https://user-images.githubusercontent.com/400092/68405009-4b0b7700-0177-11ea-9aa0-17daf029820b.png)

###

[2019-11-07 16:02] PhilETaylor opened #304 "stripe open not appropriate in docker image"
### Issue

When running in a docker image, there is no concept of a web browser on the docker host, and therefore the `open` command makes no sense and just gives an error.

I dont have all the answers, but mayeb detect if running in docker, and show a "Doh you cannot open a browser from a docker image ran stripe command" message instead of `exec: "xdg-open": executable file not found in $PATH` er

[2019-11-08 04:32] asazernik opened #306 "listen command doesn't respect --latest option"
I'm running the following command:

[code]

With the `--latest` flag supplied, I expect received webhooks to send events with API version 2019-11-05. However, the received events have my account's default API version (2018-09-04).

When running with verbose logging, it seems like the CLI receives two versions of the same event with the default and latest API versions, and is supposed to forward on

[2019-11-08 09:39] m-cosquer opened #307 "Listener receiving empty events"
### Issue
Trying to receive Stripe events in my local environment, I launched the following commands:
[code]

And then, unlike my prod environment, the following variable is empty: `$payload = @file_get_contents('php://input')`

Finally, the following error is triggered: `No signatures found matching the expected signature for payload
`

### Environment
Linux with `php:7.3-apache-stretch` Docker i

[2019-11-08 14:24] PhilETaylor opened #308 "Inconsistent help"
### Issue

Some commands, when called without all arguments/subcommands, give the helpful help for that command, other give a touchy techie message.

### Expected Behavior

Consistency either way. Prefer to get help.

### Steps to reproduce

For example

[code]

results in

[code]

whereas running

[code]

gives us more helpful

[code]

So... for `stripe get` it would be better to give the help sc

[2019-11-08 14:46] #306 closed

[2019-11-08 14:46] asazernik commented on #306
My mistake - was refetching the event for verification. The original received has the correct API version.

[2019-11-08 17:58] tomer-stripe commented on #303
Opening a PR to remove one of the extra new lines. It looks like our API actually returns a new line at the end of json responses on its own and I'm hesitant to have the CLI manually remove that (I'd like to avoid making specific changes on the API CLI-side).

Asking some people internally but not sure if that'll happen.

[2019-11-08 18:03] tomer-stripe commented on #303
Sorry, looked like my shell actually added an extra one. The API's doing the right thing and the PR should remove the extra one you're seeing.

[2019-11-08 18:05] tomer-stripe commented on #304
Was there a reason you tried to run `open` from inside docker?

I don't know if I want to make too many assumptions about what people are trying to do inside docker. `samples` could definitely work from there and someone might be developing inside of a docker container.

[2019-11-08 18:05] #303 closed

[2019-11-08 18:07] PhilETaylor commented on #304
Because like most docker users I alias docker run commands to something shorter and I accidentally ran that alias which launched in a docker contain (all of my use is just testing and reporting issues, nothing serious!)

Sent from my iPhone

[2019-11-08 18:25] tomer-stripe commented on #304
Cool :D

I'm inclined to leave this as-is to avoid limiting functionality for people in Docker containers (plus it's entirely possible someone might have and use a text-based browser like [Lynx](http://lynx.browser.org/))

[2019-11-08 18:36] PhilETaylor commented on #304
Awesome. Thats cool.

[2019-11-08 18:36] #304 closed

[2019-11-11 13:32] LeonardChallis opened #310 "Add radar.early_fraud_warning.*"
### Problem
_Currently (according to Stripe support I spoke to this morning), only the account holder will receive emails when the `radar.early_fraud_warning.created` or `radar.early_fraud_warning.updated` events are triggered. So, I am setting up a webhook so that we can email the relevant teams (like accounts, sales). I'd like to trigger these events, with objects._

### Feature
_If the Stripe C

[2019-11-14 08:17] sedubois opened #313 "Support webhook retries with Stripe CLI"
### Problem
When creating webhook endpoints, webhooks which fail to get delivered (get a 4xx/5xx error code) are automatically retried, and it is also possible to see in the dashboard a log of all sent webhooks and whether they succeeded.

However no such option appears to be available when receiving webhooks through the CLI: failed deliveries are not retried, and no log are provided in the dashbo

[2019-11-16 00:30] AndrewTBaird commented on #218
@tomer-stripe Any updates so far on this issue? I have a nearly identical use case to @alucic, and would love the ability to end to end test my issuing webhook handling implementation

[2019-11-16 03:35] bz-stripe opened #315 "`stripe samples create` –> panic: runtime error: invalid memory address or nil pointer dereference"
### Issue
Following instructions on how to run Stripe Samples locally [0] produced a surprising stacktrace.

[0] https://github.com/stripe-samples/accept-a-card-payment#how-to-run-locally

### Expected Behavior
I believe the Stripe CLI should setup the project directory with an .env file of my API keys?

### Steps to reproduce
Run `stripe samples create accept-a-card-payment`

### Traceback
[code]

[2019-11-16 03:36] bz-stripe commented on #315
cc @adreyfus-stripe for visibility

[2019-11-16 07:50] bz-stripe commented on #315
I noticed that accept-a-card-payment isn't in the list of available Samples

[code]

[2019-11-16 21:19] kareemcoding opened #316 "'stripe trigger invoice.payment_failed' not working"
### Issue
When running ```stripe trigger invoice.payment_failed``` on my terminal, it returns ```event invoice.payment_failed is not supported.``` even though you list this as a supported event.

### Environment
macOS installed via brew

[2019-11-18 16:05] adreyfus-stripe commented on #315
@bz-stripe My hunch is that you're on an older version that doesn't have the most up to date list of samples :( Try updating the CLI and running again

Not sure if we can do anything for that error message on that version

[2019-11-18 16:46] tomer-stripe commented on #316
@kareemcoding what version of the CLI are you running? It appears to be working for me running version`1.2.2`

[2019-11-18 16:47] tomer-stripe commented on #315
@bz-stripe what version are you running?

There's not much we can do retroactively but should handle that more gracefully in general

[2019-11-18 16:53] tomer-stripe commented on #313
This is an interesting idea! Wonder if we could add this as an optional feature 🤔

If you're developing locally and hit a 404 it seems like retrying immediately would not be too useful since it would require changing something on the server-side to resolve that.

@ob-stripe what do you think?

[2019-11-18 16:55] kareemcoding commented on #316
I seem to be running ```stripe version 0.2.7 (beta)```

How do I upgrade? I downloaded it through homebrew?

[2019-11-18 16:55] tomer-stripe commented on #310
Thanks @LeonardChallis! We'll look into this. In the mean time, if you have test events like these already in your dashboard somewhere you can run `stripe events resend <event_id>` to have that same event sent.

[2019-11-18 16:56] tomer-stripe commented on #307
@m-cosquer sorry for the delay here. I'm not sure what could be happening here :(

What CLi version are you running?

[2019-11-18 16:59] tomer-stripe commented on #313
@sedubois also if you go to the dashboard page for the event itself you should see CLI responses there (`evt_1FedKBFmaCD2jpsQmtIyilyD`)

[2019-11-18 18:41] tomer-stripe commented on #316
On homebrew, could you run `brew update` and then `brew upgrade`?

[2019-11-18 19:10] bz-stripe commented on #315
Yup, I was on `stripe version 0.6.6 (beta)`. Upgrading via `brew upgrade stripe` updated the list of samples.

`stripe samples create accept-a-card-payment` successfully created the project.

But it didn't create a .env file the same way that `stripe samples create placing-a-hold` did. (Although the .env file in /placing-a-hold was where the server files expected it.)

[2019-11-19 12:26] rinu opened #317 "Trigger checkout webhook with custom data"
### Problem
_What are you trying to do?_
I'm testing my webhook which depends on `client_reference_id`. It seems testing checkout webhooks is still a new feature and is incomplete.

### Feature
_What would help you accomplish your original task_
Triggering checkout webhooks should have options to override fixture data. I specifically would like a `--client-reference-id` option but all data should

[2019-11-19 18:15] #315 closed

[2019-11-20 01:25] kareemcoding commented on #316
Success @tomer-stripe 🎉

Thanks!

[2019-11-20 01:25] #316 closed

[2019-11-20 12:40] greenep12 commented on #301
Hi @ob-stripe , can you please add setup_intent.succeed?
Given a user successfully saves a card, on my server-side I create a Customer object with the payment method from setup_intent. I would very much like to test this!
Thank you in advance!

[2019-11-22 17:06] Freezystem opened #319 "Flag events emitted by stripe-cli to avoid environment conflicts"
### Problem
Hi, we are trying to distinguish requests emitted by `stripe-cli` from request emitted by our staging environment.

As our staging environment and CI are using the same webhooks broadcaster (test mode), events emitted by the `stripe-cli` in our CI are also reaching our staging environment.

Our event has metadata that are scoped to the environment, so when a `stripe-cli` request lends

[2019-11-25 10:45] Freezystem commented on #317
seems like a duplicate of https://github.com/stripe/stripe-cli/issues/295

[2019-11-25 15:12] acomagu opened #320 "--color on not work on piping"
[code]

don't color.

[2019-11-25 19:20] bz-stripe opened #321 "Helpful error message when there's an account mismatch"
### Problem
_This is likely a corner-case problem:_

I have several accounts in the Dashboard. As I switch between them, sometimes I forget to run a `stripe login` before running `stripe listen`.

This causes a confusing problem: no devices show up in the "Devices receiving events with the Stripe CLI" section of the Dashboard, https://dashboard.stripe.com/webhooks.

When I realize that and run `st

[2019-11-25 19:25] bz-stripe commented on #321
Maybe there's a way to use `--project-name` to avoid this problem? But I can't find any documentation on the flag.

[2019-11-26 21:18] smithb1994 commented on #51
Any update on this? I'm using stripe-cli latest and I still can't seem to get it to work with docker-compose. Are environment variables still broken?

[2019-11-27 14:42] DannyAziz opened #322 "Using --load-from-webhooks-api removed trailing slash from url"
When using the `--load-from-webhooks-api` argument for the `listen` command, all urls have their trailing slash removed even if I pass a url with a trailing slash to `--forward-to`

This happens from both webhooks trigged from app use and from `stripe-cli trigger`
This doesn't happen when removing the `--load-from-webhooks-api` arg

### Environment
macOS

[2019-11-27 16:41] Freezystem commented on #51
Hi @smithb1994, I'm using it with docker-compose and it works.

Stripe CLI is declared like this in my `docker-compose.yml`:
[code]
Maybe you can share your config in order to be helped.

[2019-11-28 23:38] sgehrman commented on #207
Same issue.  Why don't you guys make this simple?

removing the --project-name doesn't work.

[2019-12-02 20:23] tomer-stripe commented on #322
Hey @DannyAziz! Could you give an example of what you're seeing and what you're expecting?

It sounds like the endpoints defined in the dashboard are losing their slash on something like `/webhooks/` right? How is that interacting with the `--forward-to` flag?

[2019-12-02 20:26] tomer-stripe commented on #320
Will look into this!

[2019-12-02 20:55] tomer-stripe commented on #320
I'm having trouble reproducing this, running your command colors the output for me. Do you have any environment variables for `CLICOLOR_FORCE` or `STRIPE_COLOR`?

[2019-12-02 21:45] tomer-stripe commented on #319
Thanks for the suggestion @Freezystem! Will look into this.

[2019-12-03 08:41] rdw88 opened #326 "Support 'balance.available' event type"
### Problem
Testing integration with Stripe that checks for platform account balance updates in a local dev environment.

### Feature
A new trigger for the `balance.available` event.

### Examples
`stripe trigger balance.available` triggers an event with the `balance` object set

[2019-12-03 10:19] acomagu commented on #320
Oh, sorry. I was using old version CLI(The Arch package is outdated).
v1.2.2 works correctly. Thank you!

[2019-12-03 10:19] #320 closed

[2019-12-03 12:42] YogeshSinghChouhan opened #327 "Error: You need to provide a description for export transactions"
### Issue
 Getting **You need to provide a description for export transactions** error when using trigger command i.e `stripe trigger payment_intent.succeeded`

### Expected Behavior
[200 POST] `OK payment_intent.succeeded`

### Steps to reproduce
**Use a Indian stripe account**
Install stripe-cli
`stripe login`
`stripe listen --forward-to http://localhost:4242/webhook`
`stripe trigger payment_int

[2019-12-03 16:22] smithb1994 commented on #51
I'm particularly interested in setting stripe name and key through environment variables in a docker-compose yml file:

[code]
Or in this way
[code]
Neither seem to work.
It's important to do it through an environment variable so that keys can be changed depending on the environment, without hard coding.

[2019-12-03 18:27] tomer-stripe commented on #327
Unfortunately we don't have a good way to handle this in the trigger command. If you want, you could use [fixtures](https://github.com/stripe/stripe-cli/wiki/fixtures-command) in the mean time. What you would do is:

1. Create a new file called `payment_intent.succeeded.json`
2. Modify the file with the following:
[code]
3. Run `stripe fixtures payment_intent.succeeded.json`

[2019-12-05 06:39] iugo-robert opened #328 "TLS handshake timeout error when running the stripe login command"
### Issue
Trying to login using the `stripe login` command.

### Expected Behavior
I'm expecting it to open a link in the browser to login to Stripe.

### Steps to reproduce
Run the stripe login command.

### Traceback

[code]

[code]

### Environment
macOS Mojave 10.14.5

[2019-12-05 17:08] tomer-stripe commented on #328
Hey @iugo-robert! Are you running behind some firewall or vpn? I'm not having issues with TLS handshakes on my side :(

[2019-12-05 18:24] YogeshSinghChouhan commented on #327
@tomer-stripe  So is the location causing this issue ?

[2019-12-05 22:07] iugo-robert commented on #328
Hi @tomer-stripe, no firewall or VPN being running at my end. No issues either if I simulate a TLS handshake using the openssl command either. Do you have any suggestions on things to try?

[code]

[2019-12-05 22:22] edalzell commented on #50
I try the above and get this:
<img width="853" alt="image" src="https://user-images.githubusercontent.com/6069653/70279142-9dd25180-176a-11ea-9b9a-186c7e06ea9e.png">

This is frustrating as `valet` is a very normal way to get Laravel sites up and running

[2019-12-05 23:02] ob-stripe commented on #50
@edalzell This doesn't seem like it's the same issue. In the screenshot you posted, the requests are correctly sent to the web server running on `localhost:80`, and the server replies with a 404. Can you double-check that you've registered your webhook handler's route as `POST /!/Charge/webhook`?

[2019-12-05 23:11] edalzell commented on #50
Yup, works when I do `valet share` and have the webhook registered properly.

It's really weird to me that `stripe` can't "find" `charge.test`. I can ping it just fine from the command line.

[2019-12-05 23:59] ob-stripe commented on #50
@edalzell To be clear, these are 2 unrelated issues:
- the fact that you cannot use a `*.test` domain with `stripe listen --forward-to`
- the fact that your web server returns a 404 for webhook requests.

The latter is almost certainly an issue with your integration, not with the CLI.

The former is due to an annoying issue with Go itself (the programming language the CLI is written in), and only

[2019-12-06 00:08] edalzell commented on #50
ah OK thanks. I'll watch that issue in the hopes it's fixed.

[2019-12-06 17:03] tomer-stripe commented on #327
@YogeshSinghChouhan I'm not 100% sure, my guess is you're part of a beta that has enforces different requirements for payment intents.

[2019-12-06 17:07] tomer-stripe commented on #328
Oh wait, @ob-stripe just told me about an issue yesterday where go compiles the binary with the wrong `net/http` package and causes issues on some Mac setups. I wonder if that's related.

[2019-12-06 18:26] ob-stripe commented on #328
The issue I mentioned ([here](https://github.com/stripe/stripe-cli/issues/50#issuecomment-562371997)) was specifically for DNS resolution. AFAIK it should not affect TLS negotiation.

[2019-12-06 19:19] adi-stripe opened #330 "Add support for trigger payout.paid"
### Problem
Build a flow to reconcile settled money in the bank with received payments.

### Feature
Can we please add payout.paid for the trigger command?
Would be very useful for users building Settlement & Reconciliation flows.

### Examples
stripe trigger payout.paid

[2019-12-07 20:37] rajeshnarayanan2019 commented on #327
I am also getting same exception from the server. please suggest any work around.
{
  "amount": "10000",
  "currency": "USD",
  "source": "tok_1Fn9drHhYgPGXwyuqX6Vv9kp"
}

{
  "error": {
    "message": "You need to provide a description for export transactions.",
    "param": "description",
    "type": "invalid_request_error"
  }
}

[2019-12-09 18:14] tomer-stripe commented on #330
Hey Adi! Do you know if this is an event we can trigger immediately through API requests?

[2019-12-09 22:08] tomer-stripe commented on #114
@bodgerbarnett out of curiosity, what was the forward url you were using?

[2019-12-10 00:00] ob-stripe commented on #319
I think it's unlikely we'd change the shape of the event object itself to flag it as being caused by the CLI.

For events caused by the `trigger` command specifically, we can try to tag the API resources themselves. I've started doing this in #334: for resources that have a `description` field, we will now fill the field with `(created by the Stripe CLI)`. We could also do something similar with m

[2019-12-10 00:00] #319 closed

[2019-12-10 14:09] Freezystem commented on #319
Thanks a lot, this will sure help us a lot.
I wasn't aware that several test accounts were possible. We'll try that first.
Regards

[2019-12-10 16:43] tomer-stripe commented on #327
@rajeshnarayanan2019 you'll need to use the fixture I provided up above to have it work properly, the default trigger is missing some information for your account.

[2019-12-10 16:44] tomer-stripe commented on #328
@iugo-robert sorry, I don't really know what's going on :(

[2019-12-10 19:41] ob-stripe commented on #330
If the account is configured to use manual payouts, we could trigger the event like this:
1. create a charge with `pm_card_bypassPending` to immediately add some funds to the available balance
2. create a payout for the same amount

However, with manual payouts, payouts are decoupled from payments. My guess is that the majority of people who want to test the `payout.paid` event are using automatic

[2019-12-10 19:59] ob-stripe commented on #326
Hi @rdw88. v1.2.5 adds support for `balance.available`.

[2019-12-10 19:59] #326 closed

[2019-12-10 20:00] ob-stripe commented on #301
Hi @greenep12, sorry for the long delay. v1.2.5 adds support for all `setup_intent.*` events.

[2019-12-10 20:34] ob-stripe commented on #308
Fixed in v1.2.5 thanks to @joshuabezaleel!

[2019-12-10 20:34] #308 closed

[2019-12-10 20:36] PhilETaylor commented on #308
❤️❤️

[2019-12-10 20:40] ob-stripe commented on #327
@YogeshSinghChouhan @rajeshnarayanan2019 Can you updating the Stripe CLI to the latest version (v1.2.5)? The fixture for `payment_intent.*` events now provide both a `description` and a `shipping` address, which may help with the issue you're seeing.

[2019-12-10 21:31] ob-stripe commented on #307
Closing, but feel free to reply if you're still seeing this issue with the latest version of the CLI.

[2019-12-10 21:31] #307 closed

[2019-12-10 21:35] #322 closed

[2019-12-10 22:05] ob-stripe commented on #322
Should be fixed in v1.2.6.

[2019-12-11 19:10] YogeshSinghChouhan commented on #327
@ob-stripe  @tomer-stripe  Thanks for your help. I have updated the stripe cli to v1.26  and error is now resolved. Seems [this](https://github.com/stripe/stripe-cli/commit/b6b6bdf56598a741933c1f3b4f9f60e946f6272f#diff-5ee963da35e21bc3534569b01a0f4896) fixed the issue

[2019-12-12 09:33] AndrewFreemantle commented on #317
I'm wondering if the ability to pass a custom `client-reference-id` from the command line might satisfy the majority of setup and testing use cases? It would certainly be enough for me

[2019-12-13 02:28] bdon opened #336 ""stripe" cannot be opened because the developer cannot be verified."
_The more information we have the easier it is for us to help. Feel free to remove any sections that might not apply_

### Issue
Downloading and running the macOS binary from https://github.com/stripe/stripe-cli/releases results in the prompt: "stripe" cannot be opened because the developer cannot be verified.

### Expected Behavior
If the developer is expected to work around this (for example by

[2019-12-14 00:32] ob-stripe commented on #336
Thanks for the report @bdon. It seems unlikely we'll be able to sign the executable to be compliant with Catalina's new requirements, so we should probably update the docs as you suggested.

cc @tomer-stripe @auchenberg-stripe for thoughts

[2019-12-16 07:44] joshuabezaleel commented on #308
Thank you for the Issue, @PhilETaylor !! :tada: :tada:

[2019-12-16 11:25] plusoneinfo commented on #301
@ob-stripe Can you please add `charge.expired` event?
I want to re-authorize card when authorized payment is expired because my order processing time is more than 7 days and stripe hold amount only for 7 days not more so I am implementing this and want to test this in local.

Thank you..

[2019-12-16 20:01] omarzina opened #337 "Typo: "Unrecogized..." when requesting `stripe get <plan_id>`"
### Issue
Trying to get a plan by id returns `Unrecogized object id: <plan_id>`.

### Expected Behavior
It should return `Unrecognized...`.
Besides, the plan actually exists, as I can successfully retrieve it using `stripe plans retrieve <plan_id>` but I don't know if this is an expected behavior.

### Steps to reproduce
It seems weird that it only happens with the specific plan that I'm trying. I

[2019-12-17 02:50] ob-stripe commented on #337
`stripe get` relies on ID prefixes to know which endpoint to use to retrieve the resource. E.g. if you type `stripe get cus_123`, the CLI can infer that you're trying to retrieve a custom object from the `cus_` prefix.

Unfortunately, that strategy cannot work for objects with user-settable IDs that don't have a prefix, like plans. Since there's more than one object type where this is possible (pl

[2019-12-17 03:24] ob-stripe commented on #301
@plusoneinfo Unfortunately I think `charge.expired` is in the category of events that cannot be triggered directly by the API and thus cannot be triggered by the CLI at this time. Sorry! (It's on our 2020 roadmap to find a solution to this problem so that the CLI can trigger all event types.)

Unrelated to the CLI: the reason the maximum hold period is 7 days is because banks typically don't like

[2019-12-17 16:41] omarzina commented on #337
Got it! Thank you very much Olivier for the explanation.

[2019-12-20 12:13] gmile commented on #101
Are https://dashboard.stripe.com/logs available from the API though?

I looked at the current log tailer implementation – it's based on websockets. Then I looked at OpenAPI [spec](https://raw.githubusercontent.com/stripe/openapi/master/openapi/spec3.yaml) – there's no evidence of REST API for requests either.

Unless I am missing anything, looks like the logs are not available from anywhere except

[2019-12-21 16:29] tomelm commented on #336
I was looking at this briefly, it seems like it'll be non-trivial for us to get a binary signed given our current build pipeline. It would be nice if we could do it but it doesn't look like it's easily for us to support.

I agree with updating the docs for now. Let's keep an eye out for this to see if it increasingly becomes a problem or if we can support this without significantly changing our bu

[2019-12-23 15:15] ob-stripe commented on #101
@gmile You are correct, request logs are not available through the API at this time. They can only be accessed though the dashboard or the CLI's `stripe logs tail` command (only in test mode for the latter at this time).

[2019-12-26 12:07] kadian-developer commented on #327
Hey, guys for the solution of this I try this and it's work properly I hope it is gonna work for you too.

try {
            Stripe::setApiKey(env('STRIPE_SECRET_KEY'));

            $customer = Customer::create(array(
                'name' => 'test',
                'description' => 'test description',
                'email' => $request->stripeEmail,
                'source' => $request->stripe

[2020-01-06 11:56] zifahm opened #340 "Error on checkout.session.completed Billing address needed for India"
### Issue
Trying to trigger checkout.session.completed and getting the following error
[code]

### Steps to reproduce
trigger checkout.session.completed from India

### Environment
Linux Mint

[2020-01-06 21:44] milesalex commented on #295
It would be great if we could "Generate fixtures from defaults". Right now its hard to know the api and I want and example of each fixture but I don'w know how to access them.

The desirable workflow for me would be to edit from a template and remove what I don't need.

Think of it as fixture code gen..

[2020-01-07 19:59] stephencelis commented on #213
FWIW, this is an issue for us, as well. Our use case was we were prepared to update to a more recent version of the Stripe API (but not latest).

[2020-01-07 20:39] stephencelis opened #341 "Custom fixtures for webhook triggers?"
Is it possible to run, e.g., `invoice.payment_failed`, where `plan` and `subscription` are present, or would this require feature work?

[2020-01-08 17:31] wwahammy opened #342 "Can't set arbitrary webhook version from CLI"
### Problem
I'm try to test webhooks events with a consistent webhook event API version that is NOT my current account's API version or the latest API version.

As background, I need to test a major upgrade to my API version over a number of months. I can't upgrading my account API since that's what I'm doing this for. Also, for consistency, I do NOT want to upgrade the webhook event API version t

[2020-01-08 21:02] tomer-stripe commented on #340
Hey @zifahm! For this you'll probably want to create your own fixture with the extra information. While not `checkout.session.completed` you can see general steps for how to do it from #327 and use the [triggers/checkout.session.completed.json](https://github.com/stripe/stripe-cli/blob/master/triggers/checkout.session.completed.json) file as a base.

[2020-01-08 21:06] tomer-stripe commented on #341
Hey @stephencelis! You'd probably want to create a custom fixture for this. We've got some instructions in #295 for how you could do that on your own. You could then use the `invoice.payment_failed` trigger as a base and make modifications:  https://github.com/stripe/stripe-cli/blob/master/triggers/invoice.payment_failed.json

[2020-01-08 21:37] winzig opened #343 "stripe config not working as expected"
Using version stripe-cli 1.2.7. A confusing sequence:

[code]

None of those example commands work.

I'm trying to either turn colors off, or configure them to be more readable in my environment (dark purple on translucent black background is hard for me to read).

[2020-01-08 21:40] winzig commented on #343
Also, is the config file options defined somewhere? E.g. all of the available options that can be configured in the config file?

[2020-01-09 11:58] zifahm commented on #340
alrighty Thanks

[2020-01-09 11:58] #340 closed

[2020-01-09 20:34] smithb1994 commented on #51
For those who may stumble upon this in the future, the solution is to create a `.env` file with your `docker-compose.yml`.

.env file
[code]

docker-compose.yml
[code]
Then run
`$ docker-compose up stripe`

If you have `${...}` anywhere in your docker-compose file, it looks in `.env` for the value.

Hope this helps.

[2020-01-10 10:03] matthewrgourd opened #344 "Test"
_The more information we have the easier it is for us to help. Feel free to remove any sections that might not apply_

### Issue
_Describe what happened and what you were trying to do_

### Expected Behavior
_Tell us what you expected to happen_

### Steps to reproduce
_What are the steps we can take to reproduce this and verify it's fixed?_

### Traceback
_Share any debug output that was given by

[2020-01-10 10:04] #344 closed

[2020-01-10 15:43] #341 closed

[2020-01-10 19:41] maxrothman commented on #330
Would it be out-of-scope for this ticket to request that the other payout triggers (created, failed, etc.) get added as well?

[2020-01-10 19:46] maxrothman opened #345 "Support triggering account.updated event"
### Problem
I'm trying to build a webhook endpoint to detect when Connect accounts reach a threshold that changes their verification requirements

### Feature
Support the account.updated event in stripe CLI

[2020-01-10 23:17] #343 closed

[2020-01-10 23:19] ob-stripe commented on #343
Hi @winzig, sorry about that. We fixed the examples in the latest version, v1.2.8, which will be available shortly.

Note at this time. We'll look into adding a complete reference to the wiki.

[2020-01-10 23:22] ob-stripe commented on #342
Hi @wwahammy, thanks for reaching out.

Unfortunately at this time there are technical limitations on our end preventing us from supporting arbitrary API versions. It's definitely something we would like to be able to support in the future though. I've added this to our list of future improvements and we will figure out the best way to implement this.

I'll leave this issue open, and we'll post an

[2020-01-10 23:37] winzig commented on #343
@ob-stripe

I downloaded 1.2.8, but still having problems. I see the examples are changed for `stripe config`, but they aren't working for me:

[code]

The `--unset color` option worked, as did the `--list` option. Just not the `--set` option.

[2020-01-10 23:53] ob-stripe commented on #343
🤦‍♂  Sorry about that. We'll have another fix out shortly.

[2020-01-11 00:02] winzig commented on #343
No worries. I did take a look at the code to see if it was obvious, but I'm not familiar with Go.

[2020-01-11 00:21] ob-stripe commented on #343
Alright, the `--set` flag should be fixed in v1.2.9.

[2020-01-11 01:07] winzig commented on #343
@ob-stripe Confirmed, thanks!

[2020-01-13 07:34] adi-stripe commented on #330
Not at all. We can include more payouts events.

On Fri, 10 Jan 2020 at 19:41, Max Rothman <notifications@github.com> wrote:

--
Best regards,
Adi

[2020-01-16 00:48] auchenberg opened #349 "–-color option is confusing"
From friction log:

## Configure dev environment including Stripe CLI
- I’ve heard that Stripe has this great CLI that I can use while building
[install steps - have done this previously]
- Now, where do I start? I’ll try `stripe help` → I get a useful list of commands, though `login` is kind of buried. Think this should sit up top, below `Usage` as `Getting Started`.
- So I try`stripe login` and

[2020-01-17 20:04] duien opened #351 "Unexpected behavior with `--load-from-webhooks-api`"
_The more information we have the easier it is for us to help. Feel free to remove any sections that might not apply_

### Issue
I'm trying to test webhook behavior locally after creating a webhook that's locked to a specific API version. I'm replacing an existing webhook, so I created the new one with its version configured, then disabled the old one. The configuration, as reported by `stripe web

[2020-01-17 21:07] tomer-stripe commented on #351
Hey @duien! This is a current limitation with the CLI and the infra. It's pretty much the same issue as #342, it's not currently possible for the CLI to pick API versions that are passed through.

I don't have a timeline for a fix but I'll surface this with the team internally and see if we can get something on the roadmap.

[2020-01-17 23:02] duien commented on #351
Thanks for the response! That totally makes sense. It does seem like forwarding based on disabled hooks is a separate issue, and one that might be a little simpler, but also something that's not likely to come up all that often.

For both issues, I think a mention of the limitations in the docs for `--load-from-webhooks-api` would be a big help -- I spent a lot of time trying to track down why my

[2020-01-19 18:22] PeterKottas opened #352 "stripe plans create not working (product missing)"
### Issue
When I try to create a plan using cli, I am unable to provide the "product" parameter. It is required in the API, however, the cli doesn't seem to recognize it. This in effect breaks the whole functionality as product is a required parameter and the call fails without it.

Using stripe_1.2.9_windows_x86_64

[2020-01-20 20:32] ob-stripe commented on #352
Hi @PeterKottas, thanks for the report. You are correct, it looks like the `stripe plans create` command is lacking the `--product` flag. We'll investigate and release a fix soon. In the meantime, as a workaround, you can use the `-d` flag:
[code]

[2020-01-21 09:48] axelfran opened #353 "Support getting Connect accounts"
### Problem
I am trying to use the CLI to fetch information about my Connect accounts. This returns an `"invalid_request_error"` as the key is restricted and it is not possible to get Connect data with it.

### Feature
It would be helpful if it was possible to get Connect accounts and have relevant events such as the `account.updated` webhook event emulated and from the Stripe platform in the CLI.

[2020-01-21 14:26] PeterKottas commented on #352
Cheers, didn't know about the -d flag. Nice one. At the moment, I am just using curl. Totally happy with that tbh. One extra thing, the argument for tiers is missing as well.

[2020-01-21 18:24] ob-stripe commented on #352
The reason the flag is missing is because the `product` param is polymorphic: it can either be a string (a product ID) or a hash (to create a new product inline). At the moment the CLI only defines flags for monomorphic scalar values (i.e. parameters that can only be strings, numbers or booleans).

We haven't yet figured out a good way of handling non-scalar values (hashes or arrays) in command-li

[2020-01-21 22:59] PeterKottas commented on #352
Tbh, as long as there is the option to provide it with -d, I think it's good enough. What I would do is include a warning/info, something along the lines of:

The major problem for me was I was not aware of the -d flag, even when I tried googling for a solution for cca 10 minutes, I failed to find it. It might be just me, but maybe it's a little hard to find. Just my 2 cents :-)

[2020-01-22 01:08] ob-stripe commented on #352
Thanks! That's useful feedback. Definitely agreed that we should document this flag better.

[2020-01-22 01:17] tomer-stripe commented on #351
Adding it to the docs is definitely a good idea and a lapse on my part 😅. I'm traveling this week but will try to get that added!

I also talked to one of my teammates last week about this and we're seeing what we can do solve this. No updates yet but I'll keep this open to share any news here.

[2020-01-22 15:48] PeterKottas commented on #352
No problem at all, happy to help. Also while we're at it, I had slight problems figuring out how to provide complex values to the API using curl (I assume it will be the same for CLI). Namely, it was an array of objects that was causing problems for me. Took some trial and error to realize I have to do param_name[index][nested_param]. The thing is, while the interactive docs offer absolutely amazi

[2020-01-23 12:18] jgadbois commented on #353
Along the same lines, I would like to be able to do `stripe events resend <event_id>` for an event originated from a Connect account

[2020-01-23 14:20] tarunyaduvanshi91 commented on #327
It's working
Thanks

[2020-01-24 01:32] rajeshnarayanan2019 opened #356 "windows Stripe cli token is misleading"
_The more information we have the easier it is for us to help. Feel free to remove any sections that might not apply_

### Issue
windows Stripe cli token is printing like ←[1mwhsec_zGikAg19N5FOHXai7uOuzD8HHErIByOw←[0m

### Expected Behavior
it should generate token like this whsec_zGikAg19N5FOHXai7uOuzD8HHErIByOw

### Steps to reproduce
start stripe cli in window command prompt

### Traceback
Read

[2020-01-24 01:50] ob-stripe commented on #356
Hi @rajeshnarayanan2019. This is due to older Windows versions not supporting ANSI color codes. Recent Windows 10 builds do support ANSI color codes and will display the signing secret (and other colored output) correctly.

Unfortunately there is no reliable way of detecting whether the console supports ANSI color codes or not, so this is not something that can be fixed in the Stripe CLI itself.

[2020-01-24 01:50] #356 closed

[2020-01-27 01:08] Wilsonzsteve opened #357 "mr"
**** ` > _ [ - @ [ ` > _ ### ## ## _ ` ](url)  ](url) _ `

[2020-01-27 16:48] #357 closed

[2020-01-29 04:49] nathanbrnrd opened #359 "Stripe listen stuck on getting ready"
### Issue
When trying to listen with `stripe listen`, the terminal shows that the cli is checking for new versions and then tries to connect. But it gets stuck on `Getting ready...`
The login is working fine as well as a `stripe trigger...` but nothing for the stripe listen.
Do you have a solution or any other workarounds to develop locally and test some webhooks?

### Expected Behavior
Ready...

[2020-01-29 18:13] ob-stripe commented on #359
Hi @nathanbrnrd. Can you post the output when you run `stripe listen --log-level=debug`?

[2020-01-30 06:08] nathanbrnrd commented on #359
Hi Olivier,
This is the output:
[code]

[2020-01-30 16:06] ob-stripe commented on #359
Strange 🤔

Is it possible you're behind a proxy or firewall that blocks websocket connections?

[2020-02-01 03:12] nathanbrnrd commented on #359
Hi @ob-stripe,
I work from home and i am not behind a proxy or firewall for what I know (I don't know much about that).

But I added google dns (8.8.8.8) to my network on my Mac and now it is working..
If you have an explanation, I'll take it :)

Thanks.

Nathan

[2020-02-02 08:34] somaydixit6 commented on #327
Hey man I am facing the same issue where do I copy this thing?

[2020-02-03 21:55] wwahammy opened #361 "Webhook signing secret changes too often"
### Issue
Every few days, the Stripe CLI webhook signing secret changes. I haven't noticed an obvious pattern to it. I wouldn't expect it to since my CLI is properly logged in and its login hasn't expired.

### Expected Behavior
The CLI's webhook secret shouldn't change until the CLI's login expires or the CLI is logged out.

### Steps to reproduce
Wait a few days? It's not clear to me when it's h

[2020-02-03 21:56] ob-stripe commented on #361
@wwahammy Thanks for the report! This is an unforeseen side-effect of a recent change on our end. I'll see what we can do to fix it.

[2020-02-04 01:14] missmiu opened #362 "2020-02-04"
_The more information we have the easier it is for us to help. Feel free to remove any sections that might not apply_

### Issue
_Describe what happened and what you were trying to do_

### Expected Behavior
_Tell us what you expected to happen_

### Steps to reproduce
_What are the steps we can take to reproduce this and verify it's fixed?_

### Traceback
_Share any debug output that was given by

[2020-02-04 16:19] #362 closed

[2020-02-04 17:41] #293 closed

[2020-02-04 17:47] ob-stripe commented on #293
We just released v1.3.1 which adds support for triggering events on connected accounts. You can use the `--stripe-account` flag with the `trigger` and `fixtures` commands to execute the requests on a connected account.

[2020-02-05 17:23] tomer-stripe commented on #361
Hey @wwahammy, we disabled the secret rotation for the CLI! Let us know if you still hit any issues with that

[2020-02-05 19:34] creaux commented on #295
What I'm bit missing is a way when any of fixture is run to get id of created data. Is that even possible with fixtures?

[2020-02-05 20:38] #361 closed

[2020-02-06 09:23] TuureKaunisto commented on #295
I get the following error when I try to play an existing fixture:
[code]

[2020-02-06 11:06] nazwa commented on #231
Not sure if this is relevant, but the updated command didn't actually work for me.

Running the **new** command on Ubuntu produced an error: **gpg: keyserver receive failed: No data**

`sudo apt-key adv --keyserver hkp://pool.sks-keyservers.net:80 --recv-keys 379CE192D401AB61`

While running the original (without port specified) worked just fine 😄

`sudo apt-key adv --keyserver hkp://pool.sks-keys

[2020-02-06 18:25] ob-stripe commented on #231
Thanks for the feedback @nazwa! So weird that specifying the port produces different results for different people. 🤔

[2020-02-06 18:38] nazwa commented on #231
I know, right?! Ubuntu 18.04, running in WSL2, in case that makes a difference, which I doubt.

[2020-02-06 21:23] dnsbty opened #365 "Add support for payout webhooks"
### Problem
I'm testing some functionality around payouts within my application. Currently I'm having to use ngrok with my dev environment to make that work.

### Feature
Ideally I would be able to trigger payout webhooks from within the CLI. These include

- payout.cancelled
- payout.created
- payout.failed
- payout.paid
- payout.updated

For me, `payout.paid` and `payout.failed` will be the two

[2020-02-07 22:57] ob-stripe commented on #359
I don't have an explanation... Networking issues can be quite [mysterious](https://www.xkcd.com/2259/).

Closing, but feel free to reply or open a new issue if this happens again.

[2020-02-07 22:57] #359 closed

[2020-02-08 13:17] renjithspace opened #367 "Trigger checkout.session.completed throwing Trigger failed 400"
### Issue
I receiving the following error when I run `stripe trigger checkout.session.completed`

[code]

### Expected Behavior
Get complete the trigger without any error

### Steps to reproduce
[code]

### Traceback
[code]

### Environment
macOS

[2020-02-10 17:43] #367 closed

[2020-02-10 17:44] ob-stripe commented on #367
Hi @renjithspace, thanks for the report! We just released v1.3.2 which should fix this issue.

[2020-02-11 03:12] renjithspace commented on #367
@ob-stripe Thanks!

[2020-02-11 17:12] fred-stripe opened #370 "Play nice when output is piped to a pager such as `less`"
### Problem

Sometimes the output from `stripe` is long, and I want to page through it with `less` rather than grab the mouse. I also like color highlighting, so I have an alias that always passes `--color=on` and pipes the output to `less -R` (this is how I use [Silver Searcher](https://github.com/ggreer/the_silver_searcher), etc).

However, it seems that stripe-cli still outputs the animation ev

[2020-02-12 09:07] chriso0710 commented on #50
If I understand correctly, this issue with .test domains on OS X is still valid.
I'm using a .test domain in local development (Ruby Sinatra app with puma-dev).
The only solution that works for me currently is:

[code]

[2020-02-12 18:42] enugent-stripe opened #372 "Confusing help/debug message for payment_intents/confirm"
### Issue
I was trying to confirm a Payment Intent. My command was wrong, but the error message I got didn't really help me get back on track:
[code]
"Only takes 1 argument" suggests to me that one of those two `-d` flagged options shouldn't be there. In reality, it's complaining that I haven't added the Payment Intent token like so:
[code]

Moreover, `stripe confirm --help` doesn't work:
[code]
#

[2020-02-12 18:49] aragalie commented on #372
+1 and i think the correct error message should be `stripe payment_intents confirm --help` (which works)

[2020-02-12 19:54] aragalie commented on #295
Same here.

[2020-02-15 07:29] LionelBergen commented on #295
Same

[2020-02-15 21:29] Biazzzzoo opened #376 "stripe get connect"
_The more information we have the easier it is for us to help. Feel free to remove any sections that might not apply_

### Issue
_Describe what happened and what you were trying to do_

### Expected Behavior
_Tell us what you expected to happen_

### Steps to reproduce
_What are the steps we can take to reproduce this and verify it's fixed?_

### Traceback
_Share any debug output that was given by

[2020-02-16 06:25] #376 closed

[2020-02-16 06:45] ob-stripe commented on #295
@TuureKaunisto @aragalie @LionelBergen Sorry about that! The issue should be fixed in v1.3.4.

[2020-02-17 16:24] lukepuplett opened #379 ""the file contains a virus" on Windows 10"
### Issue
Hello - I downloaded and unzipped `stripe_1.3.4_windows_x86_64.zip` and ran the `stripe.exe` binary inside but received:

![image](https://user-images.githubusercontent.com/5802524/74670648-861f3c80-51a1-11ea-95c5-fad8430625c7.png)

### Expected Behavior
I think I expected an installer to run.

### Steps to reproduce
On Windows 10 v2004 (19041.84), download and unzipp `stripe_1.3.4_windo

[2020-02-17 17:56] lukepuplett commented on #379
Just as a side note, I also tried running the Stripe CLI from a WSL2 console on my machine but although it works, it won't talk to the web server running on the Windows side (testing webhooks).

So if anyone knows how to solve that, its an alternative for us --poor sods-- developing on Windows.

[2020-02-17 23:32] SamNewism commented on #328
I'm getting the exact same issue as @iugo-robert running macOS Mojave 10.14.3

[2020-02-18 09:14] Julienh commented on #379
Hello
Same problem, here is the Trojan detected : Trojan:Win32/Emali.A!cl

[2020-02-18 14:45] lukepuplett commented on #379
Just to come back on using Stripe CLI under WSL2 talking to a .NET Core website on the Windows side, you'll need to:

 - Ensure Kestrel is listening on the physical IP
 - Setup a hosts entry for an alias for your physical IP
 - Setup a self-signed certificate for that hostname
 - Add a Windows Firewall rule
 - Then use `stripe --skip-verify ...`

[2020-02-18 16:38] ob-stripe commented on #379
Hi, thanks for the report! It does look like recent versions of the CLI are reported as containing the "Trojan:Win32/Emali.A!cl" virus by Microsoft Defender. This is a false positive, and is safe to ignore. We will reach out to Microsoft to clear up the issue.

[2020-02-19 19:13] sebastienpeek commented on #353
Upvoting this, we're currently working on implementing Custom Connect account creation/verification and would love to be able to capture `account.updated` events via the cli so that we can test the functionality of the webhooks locally.

[2020-02-20 01:39] tomer-stripe commented on #365
Hey @dnsbty! Looks like this is a dupe of #330. I'm going to close this in favor of that one (since there are more people watching that issue for now). Could you subscribe to that one for updates?

[2020-02-20 01:39] #365 closed

[2020-02-20 01:48] tomer-stripe commented on #353
For a number of commands we have a `--stripe-account` flag available that'll let you set the connected account. For both `stripe get` and `stripe events resend` you should be able to provide the Connect account through the header.

@sebastienpeek the CLI should support connected webhook events, were you having issues with that?

[2020-02-20 01:56] tomer-stripe commented on #353
One other thing to note: the CLI generates a restricted access key when you login but, unfortunately, restricted access keys don't have access to make connect requests.

To test Connect features you'll want to grab your testmode secret key and use that with the CLI (either using using the `--api-key` flag or overwriting the key in the CLI config file).

[2020-02-20 18:44] ob-stripe commented on #353
More precisely, restricted access keys cannot use the `/v1/accounts` endpoint. They can be used to make requests on behalf of connected accounts using the `Stripe-Account` header (as long as they have the necessary permissions -- restricted access keys created for the CLI during the `stripe login` flow have all permissions by default).

The fact that they cannot use the `/v1/accounts` is a technic

[2020-02-23 19:43] axelfran commented on #353
@tomer-stripe @ob-stripe Thank you for your suggestions. Using the `--stripe-account` and/or `--api-key` flags should be sufficient for our use case.

[2020-02-24 12:17] pwaweru commented on #307
I'm seeing the same error.

version: stripe/stripe-cli/stripe: stable 1.3.5

I've also used the latest version of stripe using:

` stripe listen --forward-to localhost:3000/payments/stripe-webhook --latest`

Response: `Error processing webhook: No signatures found matching the expected signature for payload. Are you passing the raw request body you received from Stripe? https://github.com/stripe/s

[2020-02-25 13:19] TimonVS opened #389 "Listen command stops working with i/o timeout"
### Issue

The `listen` command will sometimes suddenly stop working with the following error:

[code]

This happens regardless of running it in Docker or on my Mac. It usually happens after a few hours, but sometimes it happens after 15 minutes as well. It pretty much always happens after I put my Mac to sleep for some time.

### Expected Behavior

The `listen` command should recover from an i/o

[2020-02-29 10:33] chriso0710 commented on #295
Hi everyone,
just wanted to say a quick thank you for doing a nice job with the stripe cli in Version 1.3.5!
I had the same error "unsupported protocol scheme. But the new release works good for me here. I'm now able to trigger my own events with metadata.

This is my current workflow for reference:

[code]

I copied the existing fixture from https://github.com/stripe/stripe-cli/tree/master/trigge

[2020-03-02 16:29] maxrothman opened #390 "Custom webhook bodies"
### Problem
One of the difficulties in testing Stripe webhook integrations is that you can't easily control when some events occur. For example, `payout.*` only occur at most once a day. That means that if you're building an integration for `payout.*` events, you can only test your integration with real data once a day. The Stripe CLI allows you to create synthetic events, but if the data in the e

[2020-03-02 17:26] ob-stripe commented on #390
Hi @maxrothman, thanks for the feature request! That sounds like a good idea, and shouldn't be too hard to implement. We'll discuss this and see if we can add it in a future version.

[2020-03-03 14:10] thorsten-stripe opened #391 "Pull Stripe Samples list from GitHub API"
### Problem
Today we hardcode a list of samples: https://github.com/stripe/stripe-cli/blob/master/pkg/samples/list.go. That has the disadvantage that we need to release a new version of the CLI for the sample to be available to users.

### Feature
Instead of hardcoding a list within the CLI, utilise the GitHub API to pull a list of repos from the `stripe-samples` org.

[2020-03-04 20:09] sebastienpeek commented on #353
@tomer-stripe this should provide us with enough information, thanks for the update!

[2020-03-05 15:57] rsl commented on #80
is there a way with the stripe rubygem to detect if `stripe listen` is really listening? over the past few months of developing for a stripe feature, i've had several times `stripe listen` seems to be running but after trying a checkout, i get caught in a loop because we're never getting webhooks then lo and behold https://dashboard.stripe.com/test/webhooks reveals stripe isn't seeing my computer

[2020-03-12 18:16] dodoflying opened #397 "Please support source.chargeable event"
### Problem
Using CLI to send source.chargeable event

### Feature
Please help support `source` related events. We are working on Alipay API right now.

[2020-03-13 10:42] thorsten-stripe commented on #295
How about having a separate repository with fixtures for a variety of workflows? That way the community can request and contribute fixtures for their most common workflows.

I guess we could potentially use our OpenAPI spec to generate fixtures for every single API request, but I wonder if there is more value in specific workflows that outline a chain of requests.

[2020-03-18 17:08] mcavage-stripe opened #401 "Display API Version when running listen"
### Problem

We should display the api version when a user runs the listen command so that they know what version they're working with.

### Examples

I think we should have output like this:

[code]

[2020-03-19 08:15] paulasjes-stripe opened #405 "stripe-samples server code gets put in wrong directory"
When using the cli to clone the [React sample](https://github.com/stripe-samples/react-elements-card-payment), you pick the backend language you'd like to use and it does its thing. However it appears to be missing a subdirectory when copying the server files. The server files exist in `./server` rather than `./server/{LANGUAGE}`.

Here's what happens when I pick Node as the language and try to ru

[2020-03-19 11:35] thorsten-stripe commented on #391
Closed via #399

[2020-03-19 11:35] #391 closed

[2020-03-19 15:17] tomer-stripe commented on #405
Removing the language folder is intentional behavior, we didn't want to clone extra directory information.

@adreyfus-stripe and I had been working to update all the samples to work on the relative path but might have missed this one.

[2020-03-19 17:00] tomer-stripe commented on #401
Was talking to @ob-stripe about this a bit more, pulling the API version from the response header might not actually be right in some cases. The webhook endpoint can get pinned to a version that's separate from the API response itself, specifically in the case where a user might be use the `--latest` flag. That'd mean that users may end up seeing the wrong version for the webhook endpoint which wo

[2020-03-20 09:55] thorsten-stripe commented on #405
@tomer-stripe Paul has a point though, the run instructions for samples created with the CLI vs cloned from GitHub diverge, and we need to have the whole `STATIC_DIR` charade and have the CLI rewrite it.

I wonder if it's more confusion than value. How strongly do you feel about this? I'd be in favour of keeping the folder structure the same as on GitHub.

Also this reminds me, we should somehow o

[2020-03-20 10:00] KamilKopaczyk commented on #389
I'm having the same problem on macOS + virtualbox

[2020-03-23 15:27] tomer-stripe commented on #405
My ideal is that the samples fully convey the proper "end-state" for the sample, which would be to remove extra-depth folder structure. It's pretty weird for the CLI to remove every other language but still maintain that nested behavior. If we leave that, it doesn't seem farfetched for people to try to remove the unnecessary nesting and then hit the same issues regardless so I'd prefer if we could

[2020-03-26 02:44] NitroBAY commented on #295
How can I set the API's version for my fixtures (via CLI or in the fxiture) ?

[2020-03-26 14:00] ilken opened #407 "Stripe CLI: Add account.updated event"
### Problem
_What are you trying to do?_

As part of the Stripe Capabilities upgrade, we are testing the new ID verification but account.updated webhook is not listed on the supported events (https://github.com/stripe/stripe-cli/wiki/trigger-command#supported-events)

[2020-03-26 18:47] hdoupe opened #408 "Add logout command"
### Problem
I'm trying to clear the credentials for my local stripe cli install, but there doesn't appear to be a logout command.

### Feature
A stripe logout command seems like it would be very helpful. Many other cli's offer this option:

[code]
[code]

### Examples
My current use case is that I set up the stripe cli account and it automatically linked my pc up with a client's test webhooks. I w

[2020-03-30 10:31] messiah1188 commented on #405
docker pull stripe/stripe-cli

[2020-03-31 15:53] boobiq commented on #389
@KamilKopaczyk Same thing is happening for me on macOS, I was having these timeouts since I started using CLI months ago and nothing stopped working, just recently lot of webhooks are not coming to me as you said, not even in dashboard.

[2020-03-31 19:52] auchenberg-stripe opened #412 "Bash completions: _get_comp_words_by_ref: command not found"
Steps:
[code]

Add the following lines to your `.bashrc` file:
[code]

Start new bash shell and run `stripe`

Error:
[code]

[2020-04-01 19:45] johnnyoshika opened #413 "events is missing from `stripe --help`"
### Issue
events and resend are missing from `stripe --help`

### Expected Behavior
`events` and `resend` are documented here: https://github.com/stripe/stripe-cli/wiki/events-resend-command
I expect to see `events` when I run `stripe --help`

### Steps to reproduce
stripe version 1.3.8
run: `stripe --help`

### Traceback
output of: `stripe --help`

[code]

### Environment
Windows

[2020-04-02 15:03] tomer-stripe commented on #413
Hey @johnnyoshika, they're part of the resource commands, which we truncate since there are a lot of them. We surfaced them in the wiki since they might be more helpful for webhook testing

[2020-04-02 18:22] johnnyoshika commented on #413
@tomer-stripe Excellent! I see them there now.

[2020-04-02 18:22] #413 closed

[2020-04-02 18:34] afalzon opened #416 "Installation issue - Scoop"
Hi,
I am a bit of a noob with scoop.
When I tried to install I got this: "Can't shim 'stripe.exe.exe': File doesn't exist"

Verbose:
`PS C:\Windows\system32> scoop install stripe
Installing 'stripe' (1.3.9) [64bit]
stripe_1.3.9_windows_x86_64.zip (6.0 MB) [====================================================================] 100%
Checking hash of stripe_1.3.9_windows_x86_64.zip ... ok.
Extracting

[2020-04-02 22:11] jfalconmusik commented on #389
Wow, I'm glad I'm not the only one. I'm using a PC, but I'm also receiving this error message and the webhooks aren't showing up in my dashboard either.

[2020-04-03 13:14] tomer-stripe commented on #416
Looks like it's adding an extra `.exe` to it. I'll file a ticket internally on our side to check this out.

[2020-04-06 05:47] jofftiquez opened #418 "Webhooks are being sent in incorrect order."
_The more information we have the easier it is for us to help. Feel free to remove any sections that might not apply_

### Issue
Sometimes webhooks are being sent incorrectly. Specific events:
- `customer.subscription.created`
- `customer.subscription.updated`

This causes our system to record the subscription status incorrectly. In the stripe dashboard, the actual status of the subscription is al

[2020-04-06 06:48] jofftiquez commented on #418
Another info that might be helpful. There are 2 of us using the cli on the same stripe test account. Both running on same app url `http://localhost:7500` but running on different computers and network.

We found out that somehow the events from machine 1 is being accommodated by machine 2. Weird.

[2020-04-06 17:05] mortenoc commented on #416
How do you install a previous version of stripe CLI with scoop?
`scoop install stripe@1.3.8` does not work

Stripe CLI is broken right now with scoop on Windows

[2020-04-06 21:39] tomer-stripe commented on #418
Hey @jofftiquez! This isn't a technically a bug and the behavior isn't specific to the CLI. We do not provide explicit ordering for webhook events so it's possible for an `updated` event to arrive before the corresponding `created` one (in production too). Check out https://stripe.com/docs/webhooks/best-practices#event-ordering for more information.

This is how it works in production too so the C

[2020-04-07 01:57] jofftiquez commented on #418
Hey @tomer-stripe thanks! Got it.

[2020-04-07 01:57] #418 closed

[2020-04-07 15:11] tomer-stripe commented on #416
@afalzon @mortenoc sorry about that, merged a PR to fix the scoop issues here: https://github.com/stripe/scoop-stripe-cli/pull/2

[2020-04-07 15:13] #416 closed

[2020-04-08 12:52] fabswt commented on #389
Same issue with Stripe CLI version 1.3.9 running on Ubuntu inside a Docker container, on macOS. No problem whatsoever when testing with ngrok instead, so I don't think my connection is to blame.

Because of the issue, some notifications go missing.

[2020-04-08 17:25] fabswt commented on #389
P.S.: this is really annoying… breaks the flow from coding, wondering instead "did stripe listen time out again?"

I seem to experience three levels of error:

- The timeout notice is there, but the next API call will work anyway.
- The timeout notice is there, but the next API call won't work. It just might on the second try though.
- The timeout notice is there and `listen` went FUBAR, gotta res

[2020-04-08 23:12] Dara-To commented on #207
I didn't know adding a project name is an option in the `stripe listen` command. It wasn't written in the docs. Wasted an hour or so trying to figure out. And we are in April...

Then it works with

`stripe listen --project-name <project> --load-from-webhooks-api --forward-to localhost:5000`

But now I need to figure out why it says:

, which I have...sigh.

At the end, I feel like setting up `ngr

[2020-04-09 19:47] tomer-stripe commented on #389
Hey all, sorry for not responding to this previously but we're looking into this. If you're experiencing issues could you run the command with `--log-level debug` and share the output? It'd be helpful to see what if the CLI itself is experiencing connection issues.

[2020-04-09 20:50] tomer-stripe commented on #416
Looks like it was an issue upstream with goreleaser so hopefully this won't reoccur: https://github.com/goreleaser/goreleaser/commit/dec22cf0c8a6464390ea26b42086d242e396ecda

[2020-04-10 00:10] tomer-stripe commented on #389
I released a new version (1.3.10) that has some some more verbose debugging output. If you all have a chance to upgrade to the newer version and share the debugging output that'd be amazing!

One thing I want to call out is that there were two possible `read errors` we were showing errors for in the CLI. One of them is safe in that the CLI automatically reconnects after seeing it, so I changed the

[2020-04-10 08:03] fabswt opened #420 "`events resend --live` and webhook signature"
Hi!

I'm playing with Stripe CLI to try and make testing easier. e.g.: yesterday, I upgraded from an old version of the API and later realized I'd missed a bug due to the API change. In such a situation, the ability to replay events from the live server on the local development codebase proves super handy.

I created a gist to sum up what I learned:
https://gist.github.com/fabswt/415e4f05fb1015b72

[2020-04-10 08:53] fabswt commented on #389
@tomer-stripe Upgraded to 1.3.10, here's a log https://pastebin.com/tr609TWc !

[2020-04-10 13:32] tomer-stripe commented on #389
@fabswt are you expecting to receive events and not? It looks like it's reconnecting okay and is still successfully ping/pong-ing with our servers there.

[2020-04-10 13:37] tomer-stripe commented on #420
Hey @fabswt! Let me look into 1 and 2, I don't remember offhand how `resend` hooks into our normal pipeline.

For 3: it should be safe for the CLI key to have write access to webhook endpoints.

[2020-04-10 15:59] fabswt commented on #389
@tomer-stripe I actually wasn't, just let it open for a while so you can see the timeouts. I can run it again next time I'm working with Stripe CLI to send events.

[2020-04-16 08:24] osparamatrix opened #421 "Unable to run stripe login command behind company proxy server"
### Issue
I have been integrating stripe connect separate charges and transfers way to charge customers. I was able to charge the customer successfully. Then I implemented the webhook that would transfer amounts after the platform would have balance. So I installed stripe cli to receive events of successful pay. But after installation, I tried running the stripe login command and it gives a timeou

[2020-04-16 14:18] tomer-stripe commented on #421
Hey @osparamatrix are you able to make any request with the CLI on your device? The interactive login doesn't make any kind of special request to Stripe.

Could you try `stripe customers create --api-key=sk_test_...`?

[2020-04-16 14:55] osparamatrix commented on #421
Hi @tomer-stripe , I have tried only the login and listen commands of stripe-cli like I mentioned before on my device and they both gave the timeout errors.
Also when I tried the login command on a machine that wasn't behind a proxy at home, it worked without errors displaying the account id.

Also could you elaborate on the reason why I should run the customers create command? I read the docs and

[2020-04-16 15:27] charlie632 opened #422 "Unable to run stripe listen"
_The more information we have the easier it is for us to help. Feel free to remove any sections that might not apply_

### Issue
I followed the instructions to setup and use the CLI. I managed to login correctly and so, but when I run `stripe listen` it is stuck on "Getting ready". I added  `--skip-verify --log-level=debug` flags and the response is the following:

![image](https://user-images.git

[2020-04-16 16:56] ob-stripe commented on #421
@osparamatrix `stripe customers create` is just a quick way of testing an API request.

The CLI should respect the `HTTP_PROXY` / `HTTPS_PROXY` environment variables. Can you try setting one of those to point to your corporate proxy, and test the CLI again?

[2020-04-17 04:54] osparamatrix commented on #421
Hi @ob-stripe , I tried your suggestion this morning and the login was successful. But then when I tried running the listen command to forward the events to my server, it gave the below error:-

I see that the websocket connection is failing. But then what else do I need to configure on my end? Or is there any port that needs to be open? Any help would be appreciated.

[2020-04-17 15:53] tomer-stripe commented on #422
Hmm, do you know if you're running behind a firewall? Are you running through docker?

Does running `stripe listen` with the `--no-wss` flag work?

[2020-04-17 17:32] ob-stripe commented on #421
@osparamatrix Setting the environment variable should be the only thing that's needed. It's possible your proxy interferes with the websocket connection though.

Can you try going to https://www.websocket.org/echo.html (using a browser configured to use the firewall) and check if the websocket connection is working there? You would click "Connect", then "Send", and check if the log window displays

[2020-04-17 18:17] charlie632 commented on #422
@tomer-stripe I'm not sure about the Firewall. I will check.

I'm not running through docker.

This is the response from the `--no-wss` flag:

`DEBUG websocket.Client.connect: Websocket connection error error=websocket: bad handshake`

[2020-04-17 18:19] charlie632 commented on #422
I disabled Firewall on my Mac and I get the same error as above.

[2020-04-19 22:40] jaredthecoder opened #423 "Stripe Login fails with "x509: certificate signed by unknown authority""
### Issue

After install Stripe CLI with homebrew on MacOS 10.15.3, I get the following error message upon running `stripe login`:
[code]

### Expected Behavior
I expect to be able to authenticate with dashboard.stripe.com.

### Traceback
Here is the output of ` openssl s_client -state -nbio -connect dashboard.stripe.com:443`:

[code]

### Environment
MacOS, zsh, openssl version OpenSSL 1.1.1f  31

[2020-04-19 22:52] jaredthecoder commented on #423
Update: `stripe login` gets past this issue on my MacOS Mojave work laptop. I am going to dig in a bit more to see if its something stupid on my end on my Catalina mac.

[2020-04-19 23:33] jaredthecoder commented on #423
Okay, so super weird. I installed it from source from the releases page at <https://github.com/stripe/stripe-cli/releases/tag/v1.3.10> and that worked fine on login. However, the pre-compiled binary for the same version did not. Same issue as above...

[2020-04-19 23:34] jaredthecoder commented on #423
When someone from Stripe sees this, feel free to close unless you think its a larger problem. I suspect my certificates are just messed up somehow. But it is weird that getting it from Homebrew, and from the precompiled binaries failed, but building from source did not. I am not sure if this warrants any additional docs (I don't think it does), because I assume this problem is mine and probably no

[2020-04-20 04:07] Chucky122 commented on #423
Salut mon iPhone je suis en problème de cookies enablin

Envoyé de mon iPhone Charles

[2020-04-20 14:36] tomer-stripe commented on #423
@jaredthecoder that's weird. #422 is having the same problem, not sure if this is related to something bigger. To make sure I'm understanding, downloading the binary (the `stripe_1.3.10_mac-os_x86_64.tar.gz`) from the release page and the homebrew installation failed, but compiling from source (ie `make build`) worked?

[2020-04-20 14:37] tomer-stripe commented on #422
@charlie632 how did you install the CLI? The same issue came up in #423 and they said that compiling from source resolved the issue. Wondering if something's happening with our CI process.

[2020-04-20 14:52] Chucky122 commented on #422
Hello Tomer strip I go with intuition ha ha. Good luck on your developing

Envoyé de mon iPhone Charles

[2020-04-20 14:54] Chucky122 commented on #423
I work by trial and errors
Nice to meet you
Cheers chuck

Envoyé de mon iPhone Charles

[2020-04-20 15:14] osparamatrix commented on #421
Hi @ob-stripe ,
You were right about the fact that the websocket connection was not working. I coordinated with our infrastructure team and they configured the firewall to allow for websocket connections. Now I am able to both login and listen on stripe events in the test environment via stripe cli.
Thank you very much for your help and patience. 👍

[2020-04-20 15:14] #421 closed

[2020-04-20 16:16] ob-stripe commented on #421
Awesome, glad you were able to make it work! 🎉

[2020-04-20 19:38] charlie632 commented on #422
@tomer-stripe I installed it via `brew install stripe/stripe-cli/stripe`. I will try building it from source

[2020-04-20 20:46] charlie632 commented on #422
No luck. Same error 😭

[2020-04-20 20:51] ob-stripe commented on #422
@charlie632 Are you using a home/personal connection, or are you on a corporate network?

[2020-04-21 11:30] fabswt commented on #389
@tomer-stripe Here's another log:

The timeline:

- https://pastebin.com/gRNtuf7V
  - Performed a refund (via the Dashboard) at 13:17 CET.
  - Did not receive any event.
  - Used `stripe events resend evt_1GaK6lBkWO5ojRjqhTg0y9zv` twice… still nothing.
  - Waited 5 minutes overall.
- https://pastebin.com/XLLu9V34
  - Restarted the listen command.
  - Used the same resend command. This time it work

[2020-04-21 23:18] tomer-stripe commented on #389
Thanks @fabswt! We'll keep looking into what's happening here and I'll see if I can rework some of the listen client logic too.

[2020-04-22 16:14] ilyavas opened #427 "Webhook call filed when run stripe-cli in docker"
### Issue
I run stripe-cli in docker. When event is triggered, the listener displays that new event was received, but attempt to call webhook leads to error:

2020-04-19 04:38:18   --> payment_intent.created [evt_1GaklHJZOtDDNS67aUxBiuZG]
2020-04-19 04:38:18            [ERROR] Failed to POST: Post "https://localhost/fm/StripeWebhooks/ChargeSucceeded": dial tcp [::1]:443: connect: connection refuse

[2020-04-22 21:23] #427 closed

[2020-04-23 18:20] nilaeus commented on #422
I installed the Stripe CLI from Homebrew, and got the same error. I uninstalled that and installed it from source, same error.
This issue suggests `--no-wss` but that was the same as running without it for me.
The error is always `Websocket connection error error=dial tcp: i/o timeout`, which is different.
I'm running this on my mac at home, without any firewalls.

[2020-04-24 02:26] Stone624 commented on #427
Hello, did you find a solution to this? I'm stuck on this same problem. My application is working fine from the browser request but Stripe CLI can't connect. The application (from Docker-compose activity) doesn't show an incoming request at all, so I suspect it's something regarding docker's networking (Cli is its own container outside of any network). I've been trying various things but no luck y

[2020-04-24 02:41] Stone624 commented on #427
Spoke too soon. The next thing I searched and tried worked. Solution for me was to add `--network="host"` to the docker run command.

My full docker command for this:
[code]

NOTE : Without "--skip-verify" the post will fail with "x509: certificate signed by unknown authority"

ALSO : Remember to set the Stripe Webhook signing secret given by the "Listen" command to your application's environment

[2020-04-24 08:57] scottynorris opened #429 "Webhooks testing inconsistencies whilst debugging using Stripe CLI and event triggers"
The problem is that if I trigger the same event multiple times, I get different results.

I provided a detailed report here:

https://stackoverflow.com/questions/61404353/webhooks-testing-inconsistencies-whilst-debugging-using-stripe-cli-and-event-tri

Thanks for looking.

[2020-04-24 12:07] scottynorris commented on #429
A commenter on stack noticed this is caused by webhooks responding with 4xx. My be worth adding this to the docs? I wrongly assumed a 4xx was nothing to worry about because I wouldn't need it when live.

[2020-04-24 15:08] tomer-stripe commented on #429
Hey @scottynorris! I'm not sure I understand. Triggering events makes real objects so some of the data will be different (like timestamps). Depending on the event itself, there might be additional objects too.

Looking at the php code in stackoverflow, it seems like the pasted code itself is raising the 400, not the CLI.

You should think about 400s in a live application, check out this page for s

[2020-04-24 15:11] tomer-stripe commented on #422
@nilaeus to confirm, you're also seeing the `x509` certificate error? Could you let us know what CLI version you're running and what version of macOS you're on?

[2020-04-24 15:18] nilaeus commented on #422
I'm running MacOS Catalina 10.15.4, `strive -v` 1.3.10
Logging in works fine, but connecting to the websocket times out.

![Screen Shot of commands](https://user-images.githubusercontent.com/32454680/80228606-dc32b500-8614-11ea-9be9-cbd32ea24b9b.png)

[2020-04-25 00:28] scottynorris commented on #429
Hey Tomer! It was the inconsistent events that was strange. Sometimes two would trigger, sometimes four. It would also play out as expected the first time after listening, however after that was a dice roll. It seemed the 4xx codes were preventing the whole series of events from running?

[2020-04-27 00:36] FilmCoder opened #432 "Environmental variables do not resolve in fixtures for "path""
### Issue
Environmental variables do not resolve in "paths" in fixtures

### Expected Behavior
The environmental variable should load properly.

### Steps to reproduce

1. Create a customer on the stripe dashboard
2. In your project, create a .env file, and add STRIPE_TEST_CUSTOMER=cus_1231231234 but use the actual customer id.

3.
Make this fixture:
[code]

4. Run it with `stripe fixtures path_to

[2020-04-27 15:20] tomer-stripe commented on #432
Thanks for filing the bug! @thorsten-stripe would you be able to take a look?

[2020-04-27 22:08] ob-stripe commented on #429
Hi @scottynorris. It looks like you got your answer on StackOverflow, but to clarify, the way `stripe trigger <event_type>` works is that it sends regular API requests that will result in the event you request being generated.

Depending on the event type, other events might also be generated as side effects. For instance, triggering `payment_intent.succeeded` also triggers a `payment_intent.creat

[2020-04-27 22:08] #429 closed

[2020-04-27 22:11] ob-stripe commented on #423
@jaredthecoder If you get a chance, could you run `GODEBUG="x509roots=1" stripe login` with the `stripe` binary that failed and post the output here?

[2020-04-27 22:13] ob-stripe commented on #422
@charlie632 Could you run `GODEBUG="x509roots=1" stripe listen` and share the output here?

@nilaeus This looks to be a different error, mind opening a new issue about it?

[2020-04-27 22:50] nilaeus opened #433 "Stripe connection failure with i/o timeout"
### Issue
I was trying to set up a local Websocket listener, but the `stripe listen` doesn't work.

### Expected Behavior
It should start listening.

### Steps to reproduce
1. `brew install stripe/stripe-cli/stripe`
2. `stripe login`
3. `stripe listen`

### Traceback
![80228606-dc32b500-8614-11ea-9be9-cbd32ea24b9b](https://user-images.githubusercontent.com/32454680/80428437-7d3c9c80-88af-11ea-945b

[2020-04-27 22:51] nilaeus commented on #422
#433

[2020-04-27 22:58] ob-stripe commented on #420
Hey @fabswt, sorry for the late reply.

I spent some time trying to reproduce this issue and came up empty. `stripe events resend` will resend the event with a new signature, because the signed payload includes a timestamp and the timestamp would of course not be the same. But the signing secret is the same and there's no reason the signature verification would fail on your end, especially if it s

[2020-04-27 23:03] ob-stripe commented on #317
Closing as a duplicate of #295.

[2020-04-27 23:03] #317 closed

[2020-04-27 23:05] ob-stripe commented on #379
Closing this issue, but please feel free to reply if you're still getting false positives with the most recent versions of the CLI and we'll reopen.

[2020-04-27 23:05] #379 closed

[2020-04-27 23:07] ob-stripe commented on #328
Closing due to staleness. If you're still having trouble with this specific issue, please reply and we'll reopen.

[2020-04-27 23:07] #328 closed

[2020-04-27 23:09] ob-stripe commented on #337
The typo was fixed in #350.

[2020-04-27 23:09] #337 closed

[2020-04-27 23:50] ob-stripe commented on #433
@nilaeus Can you go to https://www.websocket.org/echo.html (from the same machine that you're running the CLI from), click the "Connect" then "Send" buttons, and verify that the Log window displays "RECEIVED: Rock it with HTML5 WebSocket"?

[2020-04-28 00:00] nilaeus commented on #433
It does

<img width="797" alt="Screen Shot 2020-04-27 at 6 59 36 PM" src="https://user-images.githubusercontent.com/32454680/80432253-44092a00-88b9-11ea-8fee-fa5c8189a9fa.png">

[2020-04-28 00:04] ob-stripe commented on #433
Thanks. So this rules out a firewall that interferes with websocket connections.

Can you running `curl -v https://stripe-cli.stripe.com/`? (This should return a 404, but I want to check if the connection is established at least.)

[2020-04-28 01:24] ianjabour-stripe commented on #432
@tomer-stripe I took a look at this today. Should have a PR up soon.

[2020-04-28 03:26] nilaeus commented on #433
404
![Screen Shot 2020-04-27 at 10 25 38 PM](https://user-images.githubusercontent.com/32454680/80443993-23030200-88d6-11ea-8754-b8d0486805b4.png)

[2020-04-28 15:40] ianjabour-stripe commented on #412
@auchenberg I looked into this yesterday after receiving the same error. The issue seems to come up when [bash-completion](https://github.com/scop/bash-completion#bash-completion) is either not installed or not being sourced properly.

The way I was able to get this working (on macOS) was by:

1. `brew install bash-completion`
2. As specified in the [formulae instructions](https://formulae.brew.sh

[2020-04-28 17:44] cihantas opened #435 "Sometimes Webhooks don't come through."
### Issue
Tried a Stripe Checkout scenario. After submitting a subscription I could see that only 7 requests were tunneled. After that I tried again and it worked fine, this time with around 15 requests. It appears like it failed redirect them to me, because in my Stripe dashboard everything looks fine.

### Expected Behavior
It should always tunnel all requests correctly.

### Steps to reproduce

[2020-04-28 19:40] ob-stripe commented on #433
Very strange 🤔

Just to be 100% sure:
- can you confirm you're not behind any kind of corporate proxy?
- can you confirm you're not using any kind of local firewall (e.g. Little Snitch)?
- can you check if any of the following environment variables is set?
    - `HTTP_PROXY`
    - `HTTPS_PROXY`
    - `http_proxy`
    - `https_proxy`

[2020-04-28 21:35] mg-stripe opened #436 "Add post-install instructions when using Samples"
### Problem
Creating a local copy of a Stripe Sample suggests:
[code]

However, we don't describe how to start the server. We should add a post-install message for Samples when created via the CLI.

### Feature
Show a more complete set of instructions and allow custom messages to be set in the Sample configuration.

### Examples

[code]

[2020-04-28 21:42] mg-stripe opened #437 "Rewrite the package.json file for Samples created via the CLI"
### Problem
Creating a Stripe Sample clones a GitHub repo, generates a `.env`, and restructures the directory structure of the repo. This makes the `package.json` point to the wrong location  for the `npm start` script:

[code]

The right location in `stripe-samples/accept-a-card-payment/server/server.js`.

### Feature
Rewrite the directory specified by the `npm start` script of `package.json` to

[2020-04-28 23:37] nilaeus commented on #433
![Ran "env" command](https://user-images.githubusercontent.com/32454680/80547854-da535380-897e-11ea-9d69-aafce2ab7fa4.png)
<img width="754" alt="https://www.whatismyip.com/proxy-check/" src="https://user-images.githubusercontent.com/32454680/80547852-d9babd00-897e-11ea-9654-7eaa7a7a2974.png">
<img width="594" alt="My Mac's Firewall" src="https://user-images.githubusercontent.com/32454680/80547853-

[2020-04-29 01:30] ob-stripe commented on #433
Thanks. Unfortunately I have no idea what's causing the websocket connection to time out on your laptop :(

If you're willing to debug this further, here's something else you can try:
1. Install [websocat](https://github.com/vi/websocat) (`brew install websocat`)
2. Run `stripe listen --log-level debug`, then Ctrl+C once it starts reporting timeouts
3. Run `websocat wss://stripe-cli.stripe.com/sub

[2020-04-29 16:45] nilaeus commented on #433
I'm more than happy to help, stripe is an awesome tool!
It worked, so I think that it's the CLI binary.

[2020-04-29 18:10] ob-stripe commented on #433
Dang, I was hoping we could blame this on [ghosts](https://xkcd.com/2259/) or something.

I suppose the next step would be to try and compile the CLI from source yourself:
- install Go if you don't have it already: `brew install go`
- clone the repo: `go get -v -u github.com/stripe/stripe-cli/...`
- move into the cloned repo: `cd ~/go/src/github.com/stripe/stripe-cli`
- build the binary: `make bui

[2020-04-29 18:35] nilaeus commented on #433
It worked, and it was so much faster! Normally it took 30 seconds to get to the error, but now it works and listens instantly.
![Screen Shot 2020-04-29 at 1 32 00 PM](https://user-images.githubusercontent.com/32454680/80633383-4b961380-8a1e-11ea-9bc7-61aa6353a22d.png)

[2020-04-29 18:54] ob-stripe commented on #433
Progress 🎉

The main/only difference between installing from brew and compiling from source yourself is that the macOS binary from brew is cross-compiled from a Linux machine. This shouldn't make a difference, though I know of at least one case where it does (specifically, DNS resolution: https://github.com/golang/go/issues/12524).

I don't think the issue you're seeing with the brew-installed `st

[2020-04-29 19:01] #432 closed

[2020-04-29 19:38] nilaeus commented on #433
`cgo+1` worked, but `go+1` had the same failure.

[2020-04-29 21:18] ob-stripe commented on #433
Okay, so the time out error message was just very misleading and it was a DNS issue after all 😥

You probably have something in your environment that causes the DNS resolution to fail when using the pure Go resolver (the `GODEBUG=netdns=go` one, the only available when using the brew-installed `stripe` binary due to cross-compiling) but succeed when using the native macOS resolver (the `GODEBUG=ne

[2020-04-29 21:43] nilaeus commented on #433
🤔
![Screen Shot 2020-04-29 at 4 42 33 PM](https://user-images.githubusercontent.com/32454680/80649885-7725f780-8a38-11ea-83ff-cd52adc361f9.png)

[2020-04-29 21:50] ob-stripe commented on #433
And these ones?

[code]

[2020-04-29 21:58] nilaeus commented on #433
![Screen Shot 2020-04-29 at 4 58 31 PM](https://user-images.githubusercontent.com/32454680/80651004-afc6d080-8a3a-11ea-80e9-0f9990f0af18.png)

[2020-04-29 22:39] ob-stripe commented on #433
Alright, thanks.

I just released v1.3.12 which should fix the issue. Can you upgrade via brew and confirm whether the new version works for you?

[2020-04-29 22:57] nilaeus commented on #433
🎉 It works!
Thank you for your time.
I'll leave it to you to close the issue, but it's all good now.

[2020-04-29 23:10] ob-stripe commented on #433
Awesome! Thanks a lot for your patience and your help getting to the bottom of this, much appreciated!

[2020-04-29 23:10] #433 closed

[2020-04-29 23:14] ob-stripe commented on #50
Just wanted to give a heads up that the latest version of the CLI (v1.3.12) should now be able to use `.test` and other local domains directly, without having to use the `127.0.0.1` workaround.

[2020-04-30 20:07] mg-stripe opened #442 "Provide a direct link to the triggered event when using `stripe trigger`."
### Problem
When using `stripe trigger`, the output is minimal:
[code]

### Feature
We should provide a quick link to the emitted event, similar to what we use for `stripe logs tail`.

### Examples
[code]
(Clickable links above.)

[2020-04-30 20:52] ob-stripe commented on #442
That would be nice, but getting the event IDs would be difficult since they're not in the API responses. We'd basically need to run `stripe listen` in the background and somehow extract the correct event IDs. I don't think the complexity would be worth it tbh.

Just displaying the IDs of the objects (e.g. `ch_123`) shouldn't be too difficult though.

[2020-05-01 15:43] tomer-stripe commented on #435
@cihantas could you run listen with `--log-level debug`? We've heard a few of these recently and are trying to pinpoint the problem.

[2020-05-01 15:49] cihantas commented on #435
Will do.

[2020-05-02 20:26] prateeknarayan commented on #151
I have implemented Stripe Checkout Process and it's working as expected, but the problem is why checkout.session.completed isn't working?

Can anyone kindly help me out because it's very frustrating now... There is no extra information in Logs panel of Stripe panel, they just show only status of the request i.e either success or failed...

[2020-05-04 16:51] ob-stripe commented on #151
@prateeknarayan GitHub issues should be limited to bugs or feature requests for the CLI, they are not a general support channel. You can reach out to Stripe's support at https://support.stripe.com/email.

[2020-05-04 18:50] #352 closed

[2020-05-05 15:19] charlie632 commented on #422
Upgrading to `1.4.0` solves this issue. Closing it.

Thanks for all the support!

[2020-05-05 15:19] #422 closed

[2020-05-06 17:28] ianjabour-stripe opened #446 "Include Setup Instructions with `stripe completion` Command"
### Problem
Currently when a user runs `$ stripe completion` the CLI generates the completion file and then just prints:

[code]
(or bash alternative)

At this point the user needs to do a bit more work to get the autocompletion moved and source properly. Unfortunately we don't provide any further instructions on what those steps are.

### Feature
It would be fantastic if we included the appropria

[2020-05-07 08:52] joshuabezaleel commented on #437
Hi @mg-stripe , I did some reading on the codebase, I am sorry if I got it wrong but I assume that the stripe samples create command for the accept-a-card-payment sample will do a git clone from [this repository](https://github.com/stripe-samples/accept-a-card-payment) so changing the package.json at the root of this repository will solve the problem thus I am creating [this PR](https://github.com

[2020-05-08 04:15] karandeepSJ opened #447 "Trigger webhook with with particular ID"
### Background
I have a website where I am using checkout to subscribe users to a plan. When the payment is completed, I want to catch the `checkout.session.completed` webhook to update the user table in my database so that the user can access the website's premium features. I store the checkout session id in my database with the logged in user when I create the session, so that I can find the use

[2020-05-09 23:38] #447 closed

[2020-05-10 09:27] sktt commented on #435
Chiming in on this. We've started to use `stripe listen` on our CI for end-to-end testing. We're however seeing a substantial amount of failures where events are not received.

I was wondering why that could be. First, of course, if there is no backend to forward the event to when it arrives, does it mean that stripe throttles all events after? Documentation states that events may be retried withi

[2020-05-12 04:24] auchenberg commented on #389
From another user:

[Fri, 01 May 2020 12:20:22 CDT] ERROR read error: read tcp 192.168.1.18:62182->54.186.23.98:443: i/o timeout

Can provide contact details if needed.

[2020-05-14 13:51] ilyavas opened #448 "CLI listen doesn't recieve/forward to resent events"
### Issue
I'm not sure is it bug or expected behaviour, but when i click resend for particular event at the Dashboard, the CLI listener dosn't recieve this event or doesn't do `forwar to` for it.
It is so for both Succeeded and Failed events.
The mode is Test.
CLI listen is setup correctly because it recieve new happened events.

### Expected Behavior
CLI listen recieve resent event as well as new

[2020-05-14 16:17] KamilKopaczyk commented on #313
Not sure since when this is available, but you can call `stripe events resend evt_<event ID>` from CLI (be sure that stripe-cli is listening though).

It worked for me even when my stripe-cli instance was not registered as webhook endpoint at the time of event being created.

[2020-05-14 16:20] KamilKopaczyk commented on #389
I've have had a similar scenario as fabswt did. In my case some reconnect happened minute before the "crash". stripe-cli was running for 10-15 minutes without problems.

https://pastebin.com/ALdSYBDt
stripe version 1.4.0

I wasn't aware that `stripe events resend` would work for events that were created when stripe-cli wasn't listening.

[2020-05-16 12:19] adamshiervani commented on #435
We started running stripe listen with --log-level debug. This is a log for when the webhook event doesn't arrive.

Note: The webhooks incoming payload is retracted
[code]

[2020-05-16 12:20] cihantas commented on #435
Have you encountered this bug in production as well?

[2020-05-16 12:24] adamshiervani commented on #435
No, we don't use the stripe-cli in production, we have a public endpoint for that and have that setup in the stripe dashboard

The logs are from our end2end test in our CI.

[2020-05-17 21:45] cleversprocket opened #449 "--load-from-webhooks-api flag is not forwarding to the correct address"
_The more information we have the easier it is for us to help. Feel free to remove any sections that might not apply_

### Issue
I have a test webhook setup in the dashboard pointing to `https://my-app-id.cloudfunctions.net/requestHandler/stripe/checkout-started`. When I forward events to my local server at `localhost:5001/my-app-id/us-central1/requestHandler/stripe/checkout-started` it strips out

[2020-05-19 16:27] auchenberg-stripe opened #451 "Support official Windows Package maanger"
### Problem
Microsoft just released their official Windows Package Manager, `winget`. We should land support for this distro channel when it's ready.

https://devblogs.microsoft.com/commandline/windows-package-manager-preview/

### Feature
_What would help you accomplish your original task_

### Examples
_Any example interaction you expect_

[2020-05-19 19:22] cleversprocket commented on #449
I was able to get this to work for my purposes by updating the webhook URL in the dashboard to the test URL. The webhooks fail in the dashboard for obvious reasons but my local server is forwarded the events.

[2020-05-20 11:56] dberke711 commented on #418
@tomer-stripe How is this not considered a bug?  I am seeing the same issue, and it is wreaking havoc with my integration.  If I can't rely on the subscription.created > subscription.updated > session.completed events coming in that order, how do I know what the current status is of my subscription?  Note that those events also need to be synchronous - subscription.updated won't be sent until Stri

[2020-05-20 22:18] richardm-stripe commented on #437
@mg-stripe Is there a good reason for both `<repo-root>/package.json` and `<repo-root>/with(out)?-webhooks/server/node/package.json` to exist?

IMO the correct behavior would be for `stripe samples create` to remove the root package.json altogether, because if you chose ruby `npm start` would not work. Also there is no way to align the root package.json with whether you are using the "with-webhook

[2020-05-21 06:00] dberke711 commented on #418
So the solution I came up with is to completely ignore the subscription data that is posted when my webhook handler is called.  Rather than relying on that data, I use the subscription ID to call the subscriptions.retrieve API to get the current subscription data.  THAT data is up-to-date, so I don't have to worry about the order of the subscription and session events arriving.

I think the docume

[2020-05-25 09:31] renatocostajimdo commented on #435
+1 on having the same bug while running our e2e tests in our CI environment. Here's hoping for an incoming fix 🤞

[2020-05-27 15:06] neerajdelhi commented on #327
Hello guys,
I was stuck in same problem for 2 weeks and finally found solution ....

Stripe\Stripe::setApiKey(env('STRIPE_SECRET'));

        $customer = \Stripe\Customer::create([
          'name' => 'Jenny Rosen',
          'email' => 'jenyy@hotmail.co.us',
          'address' => [
            'line1' => '510 Townsend St',
            'postal_code' => '98140',
            'city' => 'San Francisc

[2020-05-28 18:06] deckeraa commented on #433
I'm hitting this issue with 1.4.0 and 1.4.1 of the pre-built binary.
Building from source results in it connecting eventually after hitting a couple of <code>DEBUG websocket.Client.connect: Websocket connection error error=dial tcp: i/o timeout
</code> messages.

Here's the result of <code>./stripe listen --log-level debug</code> after a few minutes:
[code]

I also took did the DNS debug steps fro

[2020-05-31 23:23] UCAudio commented on #435
I'm hitting the same issue when testing using Cli. I should be getting 4 events coming through after a specific process. However only one always comes through, the others get ignored with the proxy.Proxy.filterWebhookEvent: Received event with non-default API version, ignoring message.

Strangely, if I leave Cli open... later on they come through successfully on the auto-retry attempts. My context

[2020-06-01 07:14] hbthegreat commented on #449
I am getting the same issue with the --load-from-webhooks-api flag. It seems to load the webhooks as I can see the call when tailing the logs. I see the event coming through to the cli but it isn't forwarding to my local endpoint.
It does however forward if I use a specific stripe listen -forward-to (direct endpoint here).

Is there something specific that needs to be done to make sure --load-from

[2020-06-02 16:25] repsher commented on #435
Just started using the CLI instead of ngrok for local testing of webhooks but lots of webhooks aren't coming through. I'm upgrading from legacy checkout and the new version seems way more dependent on webhooks for everything to flow correctly so it's a bit lame they seem flakey and I'm writing fallback code for when a checkout session is complete but I never get a `checkout.session.completed` webh

[2020-06-02 20:49] Anaphase commented on #80
Holy crap! After days of beating my head against a wall, it turns out this was my issue as well. `stripe listen` just stops working after my computer is awaken from sleep, even though the Stripe dashboard says my CLI is connected.

[2020-06-03 21:28] auchenberg-stripe opened #457 "There are no inline links in stripe listen output when running in VS Code terminal"
### Issue

There's are no inline links in `stripe listen` output.

### Expected Behavior
E.g. in iTerm, with working links:

![image](https://user-images.githubusercontent.com/53238203/83690883-653ef380-a5a6-11ea-975d-206229cdecfe.png)

No links in VSCode terminal:

![image](https://user-images.githubusercontent.com/53238203/83690968-86074900-a5a6-11ea-863f-63136ed1fd62.png)

### Steps to reproduc

[2020-06-03 21:34] auchenberg-stripe commented on #457
Seems to be a general xterm.js issue, as Hyper terminal doesn't render either:

<img width="1644" alt="Screen Shot 2020-06-03 at 2 33 04 PM" src="https://user-images.githubusercontent.com/53238203/83691532-2f4e3f00-a5a7-11ea-94b5-263231fc7899.png">

[2020-06-04 15:47] tomer-stripe commented on #457
@auchenberg-stripe https://github.com/xtermjs/xterm.js/issues/1134 is still open and it doesn't seem like it's completely supported yet so I think this might be upstream of us.

[2020-06-04 16:10] auchenberg commented on #457
You are right. Its still open, and upstream. @tomer-stripe

[2020-06-04 21:48] dossy opened #459 "Add `requests` as a resource type"
### Problem

Currently, in the Dashboard, you can view an event and if its source isn't `Automatic`, such as `API`, it links to a page with a URL like `/logs/req_<id>`.

The data provided on that page would be very useful as an API response, especially when needing to find out the source/originator of an API request.

### Feature

Being able to use the CLI to do something like this:

[code]

[2020-06-04 21:50] dossy commented on #101
I just submitted a different (but related) feature request #459, which isn't focused on the filters but just having an API method to fetch `requests` type resources that are accessed at https://dashboard.stripe.com/logs.

[2020-06-04 21:52] dossy commented on #459
FWIW, I tried to see if this kind of dirty hackery would do anything useful:

[code]

Unfortunately, it gets this error response (no surprise, tbh):

[code]

Wishful thinking, figured I'd at least give it a try.  :-)

[2020-06-04 23:38] last1here commented on #448
To add to this, the cli resend command `stripe events resend evt_*` also doesnt resend the events to the cli listener. Running the command just results in the event printing to the terminal.

[2020-06-07 10:48] asegestam commented on #423
Im having the same issue
`[ERROR] Failed to POST: Post https://... x509: certificate signed by unknown authority`
I have a self signed certificate in my dev enviroment and it seems like that's the issue. Any way around this?

[2020-06-08 11:41] jarodpeachey opened #460 "Can't download CLI"
_The more information we have the easier it is for us to help. Feel free to remove any sections that might not apply_

### Issue
_Describe what happened and what you were trying to do_
I'm trying to set up Stripe, and the [documentation](https://stripe.com/docs/stripe-cli#install) says I need to download the latest windows tar.gz file and run that. However, there is no tar.gz file for windows, jus

[2020-06-08 16:13] tomer-stripe commented on #460
@jarodpeachey to confirm, downloading the .zip for windows doesn't work?

@auchenberg-stripe could you take updating the docs?

[2020-06-08 16:47] ob-stripe commented on #423
@asegestam You can use the `--skip-verify` flag to bypass verification when forwarding events to an HTTPS endpoint with an "invalid" (e.g. self-signed) certificate.

[2020-06-10 03:32] asp143 commented on #435
I have encountered this issue as well. When I use `stripe listen` there will be times that the webhooks will come but when I try to forward those notification my cli doesn't get any webhoooks notifs anymore.

[2020-06-10 07:13] aabesh-k opened #461 "`stripe listen` gets stuck after receiving first webhook"
### Issue
`stripe listen` gets stuck after receiving first webhook

### Expected Behavior
Expect it to run smoothly and receive all events.

### Steps to reproduce
Terminal 1
`stripe listen --log-level debug`
Terminal 2
`stripe trigger invoice.payment_failed`
`stripe trigger invoice.payment_succeeded`

Only the first command's output is received.

### Traceback
[code]
Notice there is nothing after

[2020-06-10 19:21] nomadme opened #462 "Can't create a subscription with multiple plan from fixture"
# Issue
Can't create a subscription with multiple plan from fixture with multiple plans within the subscription item.
But only creates the subscription with the last item from the item list.

### Expected Behavior
Create subscription with multiple number of plans.

### Steps to reproduce
Use this fixture schema to create a subscription.

[code]

### Environment
stripe version 1.4.1

[2020-06-11 21:57] #353 closed

[2020-06-12 07:31] LilianeM45 opened #463 "bug for stripe_1.4.1.windows_86_64.34"
I couldn't open the file because my computer is a windows 8.1 32bits.
Please send me a stripe CLI for windows 8.1 thanks.

[2020-06-13 06:41] victor-sarabia opened #464 "Unable to run on 32-bit Windows"
I downloaded and extracted the file stripe_1.4.1_windows_x86_64.zip

Then, I tried to run the stripe.exe file

But I got a message saying "The version of this file is not compatible with the version of Windows you are running ..."

Running on 32-bit Windows 7

[2020-06-15 17:33] richardm-stripe commented on #464
Hello @victor-sarabia, thanks for opening an issue. We have not historically supported or provided binaries for 32-bit windows, so I am reclassifying this as a feature request.

There seem to be others https://github.com/stripe/stripe-cli/issues/463 https://github.com/stripe/stripe-cli/issues/460 recently reporting this for the first time, so I am curious: was 32-bit Windows previously able to run

[2020-06-15 17:35] richardm-stripe commented on #464
Closing as duplicate of #463

[2020-06-15 17:35] #464 closed

[2020-06-15 17:36] richardm-stripe commented on #463
Hello @LilianeM45, thanks for reporting this. We have not historically supported or provided binaries for 32-bit windows, so I am reclassifying this as a feature request.

There seem to be others #464, #460 recently reporting this for the first time, so I am curious: do you know if 32-bit Windows previously able to run the 64-bit binary somehow in previous versions? Is this your first time attempt

[2020-06-15 21:36] ob-stripe commented on #463
As of v1.4.2, we now provide 32-bit builds for Windows.

@LilianeM45 @victor-sarabia Can you try downloading https://github.com/stripe/stripe-cli/releases/download/v1.4.2/stripe_1.4.2_windows_i386.zip and report here whether it works for you or not?

[2020-06-16 15:57] tharun208 commented on #401
I like to work on this

[2020-06-18 14:50] bwang-stripe commented on #461
Hi @aabesh-k - thank you for the report!

A few follow up questions:

1) Are you able to reproduce this reliably? We weren't able to reproduce this immediately.
2) Does calling `stripe listen` with the `--print-json` or `--color off` flags affect the behavior?

[2020-06-20 10:21] geniussy88 commented on #328
I just had that issue in Windows. Solved it by running the command line as admin (root).

[2020-06-22 14:58] richardm-stripe commented on #349
The problem is the user didn't make the distinction between *commands* and *flags*. Maybe the best UX here is

- `stripe` without commands or flags still displays the full usage information
- `stripe --color on` etc. that specify flags but not commands, displays something like "You provided flags but did not specify any command. Type `stripe help` for a list of commands".

[2020-06-22 15:00] richardm-stripe commented on #349
Reclassifying as enhancement, also

[2020-06-22 15:25] richardm-stripe commented on #423
Closing for now as this may have been system-specific, but feel free to reopen again if this issue resurfaces.

[2020-06-22 15:25] #423 closed

[2020-06-22 15:31] richardm-stripe commented on #448
Hi @ilyavas, thank you for the report. I don't it was ever a specific intention for `listen` to receive resent events, but we should either make this lack of behavior more explicit, or add support for it. I'm reclassifying as an enhancement.

[2020-06-22 15:36] richardm-stripe commented on #457
Closing as it doesn't represent a bug in the stripe-cli

[2020-06-22 15:36] #457 closed

[2020-06-22 15:48] richardm-stripe commented on #463
Closing, as we have now added support. @LilianeM45 @victor-sarabia please reopen if the difficulty persists.

[2020-06-22 15:48] #463 closed

[2020-06-22 16:14] richardm-stripe commented on #448
Mm, actually I am marking as a duplicate of https://github.com/stripe/stripe-cli/issues/313 and closing.

[2020-06-22 16:14] #448 closed

[2020-06-22 16:31] richardm-stripe commented on #408
Released in https://github.com/stripe/stripe-cli/releases/tag/v1.4.0, in #430

[2020-06-22 16:31] #408 closed

[2020-06-22 16:33] hdoupe commented on #408
Thanks for implementing this @richardm-stripe!

[2020-06-22 16:35] richardm-stripe commented on #408
Ha, credit goes to @ianjabour-stripe! I'm just closing issues.

[2020-06-22 21:05] #372 closed

[2020-06-23 13:48] richardm-stripe commented on #80
A fix for this went out in 1.4.3 (#468).

[2020-06-23 13:48] #80 closed

[2020-06-23 13:53] richardm-stripe commented on #446
Fixed in #450, in 1.4.3.

[2020-06-23 13:54] richardm-stripe commented on #372
(Addressed in v1.4.3)

[2020-06-25 05:02] guanzo opened #472 "Make it easier to use the signing secret returned by --forward-to"
### Problem
AFAIK, the only way to get the secret is to copy/paste from the terminal output. Now where do I put this secret?
* I can put it in my source, which triggers git changes.
* I can put it in my env file, which is okay-ish. It's laborious for me because my env file is pulled from a server, so I have to jump thru several hoops to update my env file.
* I can set it as an env var in my curren

[2020-06-25 16:38] richardm-stripe commented on #472
Hello @guanzo, thank you for the suggestion. I like the idea of making it easier to return the signing secret. I'm not sure `--env-key` is a viable though, because child processes (the stripe cli) do not generally have the ability to alter the environment variables of their parent process (in this case, your `start-dev-services.sh`) -- as far as I am aware, anyway. Do you know of any other tools t

[2020-06-25 20:55] guanzo commented on #472
Thank you for the detailed reply.

Hmm.. good point. My usual workflow does allow child processes to alter the parent env, because my shell scripts have a lot of this:

load-env-vars.sh
[code]

start-dev-services.sh
[code]

Nope, I've never seen a cli do this, it was a bad idea, sorry. My "vision of the dev experience" is heavily skewed to my work environment. I'm not sure how this flow would work

[2020-06-30 19:28] hatoro opened #474 "Products Create Unknown Flag Attributes"
### Problem
I am trying to create a product with attributes

### Feature
Add attributes to list of request parameters for the command `stripe products create`

### Examples
Please add the ability to add metadata as well

[2020-07-01 14:15] bwang-stripe commented on #474
You should be able to pass both `attributes` and `metadata` request parameters via the `--data`/`-d` flag, which you can use to set any writable request parameter by name.

The Stripe docs page [here](https://stripe.com/docs/api/metadata?lang=cli) shows how to use `-d` to add a metadata field to a `stripe charges create` command.

For your use case (creating a product with attributes and metadata)

[2020-07-01 14:15] #474 closed

[2020-07-01 17:56] bwang-stripe opened #475 "Make it easier to obtain the webhook signing secret by implementing `stripe listen --print-secret`"
### Problem
Users often need to access their [webhook signing secret(s)](https://stripe.com/docs/webhooks/signatures) from within their code. (See #472).

Right now, this secret appears in the output of `stripe listen`, which means it requires extra work to parse. Users have to either copy it manually from the output, or use shell commands to parse it. It would be nice if users could easily get th

[2020-07-01 18:02] bwang-stripe commented on #472
Hi @guanzo,

Thanks again for bringing this up! We've been discussing internally, and we've settled on adding a `--print-secret` flag to `stripe listen` that would directly print out the webhook signing secret. From there, you could use that to set a local environment variable, or shell out from your code to get the secret.

I've created #475 to track the progress on that feature, so if you have a

[2020-07-01 20:24] guanzo commented on #475
I don't understand, the stripe cli process dies after printing the secret? So would I have to do something like

[code]

[2020-07-02 17:18] bwang-stripe commented on #475
Yep - that's correct! I'll update the original post to make that a bit clearer.

And to further clarify, the webhook signing secret should not change between calls, so any ordering in time of `stripe listen` and `stripe listen --print-secret` should work.

[2020-07-06 08:02] mg-stripe opened #476 "Provide a friendlier error message for an unrecognized Sample"
### Issue
The error message returned for an unrecognized Sample is opaque and could be friendlier:
[code]

### Expected Behavior
I suggest a friendlier error message:
[code]

### Steps to reproduce
Run the command above. :)

### Environment
macOS Catalina

[2020-07-06 20:51] polybuildr commented on #436
Hello! :wave: I noticed this was marked as a [good first issue](https://github.com/stripe/stripe-cli/contribute) so I thought I'd take a look at what it involves. Please let me know if this isn't meant for an external contributor to help with, though!

I seem to have not understood exactly what the scope of this issue is, so I'll list down what I've learnt.

- Feature request: The `samples create`

[2020-07-06 22:08] polybuildr commented on #475
Hello! :wave: I was wondering if you're interested in external contributions for this issue?

As far as I can tell, the control flow currently looks like this:
- In listen.go, `runListenCmd` calls `proxy.New()` and then `proxy.Run()` ([source](https://github.com/stripe/stripe-cli/blob/a023543c63cd2719ae3d980ca2173934653773fc/pkg/cmd/listen.go#L154-L167)).
- Wrapped in some retry logic, `proxy.Run(

[2020-07-07 13:53] #446 closed

[2020-07-07 22:27] polybuildr commented on #475
I've opened a pull request (#478) using a similar approach to the one I mentioned above. However, please do let me know if this isn't meant for an external contributor or someone is already working on it! :)

[2020-07-08 13:37] bwang-stripe commented on #475
Hi @polybuildr!

That's great - thank you! We're happy to take external contributions on this issue, and thanks for being so proactive - I'll take a look at the PR today.

[2020-07-08 19:26] bwang-stripe commented on #475
Thanks to @polybuildr this feature is now live in v1.4.5!
https://github.com/stripe/stripe-cli/releases/tag/v1.4.5

[2020-07-08 19:26] #475 closed

[2020-07-08 19:28] bwang-stripe commented on #472
This should be resolved now that we have the `stripe listen--print-secret` flag, which was implemented in #478 and released in [v1.4.5](https://github.com/stripe/stripe-cli/releases/tag/v1.4.5).

[2020-07-08 19:28] #472 closed

[2020-07-09 18:48] polybuildr commented on #370
Hi @fred-stripe, I've taken a stab at this in #479 if you're interested! :)

[2020-07-09 20:18] ameyers123 opened #480 "Financial Reporting Stripe CLI testing"
### Problem
I cannot use Stripe CLI to test the event `reporting.report_type.updated` as described here:
https://stripe.com/docs/stripe-cli/webhooks
https://stripe.com/docs/reports/financial-reports/api#integration-pattern

### Feature
A guide on how to test that the web hook for receiving `reporting.report_type.updated` events is working properly.

### Examples
running this command in terminal `s

[2020-07-10 13:42] JaapWeijland commented on #449
I'm having the same kind of issue. It looks like everything after the hostname from the `--forward-to` parameter is stripped away, eg: `--forward-to localhost:5001/hooks` becomes `--forward-to localhost:5001` (when `--load-from-webhooks-api` is added).

**In dashboard:** `https://europe-west1-xxx.cloudfunctions.net/onChargeSucceeded`

**Command run:** `stripe listen --load-from-webhooks-api --forw

[2020-07-10 16:43] R4wizard commented on #379
I've received this false positive today from Windows Defender.

[2020-07-10 19:33] withinboredom opened #481 "Virus reported in latest release"
_The more information we have the easier it is for us to help. Feel free to remove any sections that might not apply_

This is probably a false positive related to #379 but I'm not sure you all monitor old closed issues and would like to make sure you're aware of it.

### Issue
_Describe what happened and what you were trying to do_
Downloaded the latest release (1.4.5) with Windows Defender turne

[2020-07-10 20:19] ob-stripe commented on #481
Thanks for the report @withinboredom. We've submitted the latest version of the CLI to Microsoft for analysis. Hopefully the issue will be fixed in the next Defender signatures update.

[2020-07-12 10:05] itsolver commented on #412
Thanks @auchenberg-stripe. Steps 1 and 2 solved it for me. 🎉

[2020-07-12 16:10] Joe8000 opened #482 ""the program contains a trojan""
possible false positive but windows defender picked up Trojan:Win32/Occamy.C41 in the stripe.exe

[2020-07-12 20:16] spelunka commented on #482
I'm seeing the same result on my windows machine too
![cli](https://user-images.githubusercontent.com/64932209/87255698-ee690600-c441-11ea-9566-c7d03327b505.png)

[2020-07-13 15:55] thorsten-stripe opened #483 "[Samples create] Always set up `.env` file even when not logged in"
### Problem
Currently, if you run `stripe samples create ...` without being logged in the CLI does not set up the `.env` file and outputs
![image](https://user-images.githubusercontent.com/23213994/87324021-1cde0280-c562-11ea-88e7-367598a6ef16.png)

However, that's confusing, because the CLI modifies the path for the `server` directory and therefore the `STATIC_DIR=../../client` from the `.env.exa

[2020-07-14 04:04] auchenberg-stripe commented on #482
This is duplicate of https://github.com/stripe/stripe-cli/issues/481. We've submitted the latest version of the CLI to Microsoft for analysis.

[2020-07-14 04:04] #482 closed

[2020-07-14 17:05] auchenberg-stripe opened #484 "Proposal: Improvements to multiple account support"
### Problem

Today when using the Stripe CLI the first time a user logging in they run `stripe login`, and goes through the web authentication flow. In that flow they choose the account use with the CLI, and once the flow is completed the auth keys are saved on the config file under `default`, e.g:

[code]

To add another account the user can run `stripe login --project-name=projectB` and go throu

[2020-07-14 17:25] ob-stripe commented on #484
Generally agreed, but a couple of caveats:

1. I think there is some value in letting users set the name. `stripe --project-name=dev` is a lot better than `stripe --project-name="Awesome Store Inc. - Test Account"`

2. We should not / cannot use `account` as the flag name. It would be confusing with the `--stripe-account` flag used for Connect requests, and more importantly, it's already a paramet